
c    Generated: Mon Oct 18 16:28:06 BST 2004

      subroutine uks_c_pw92
     & (ideriv,npt,rhoa1,rhob1,sigmaaa1,sigmabb1,sigmaab1,
     &  zk,vrhoa,vrhob,vsigmaaa,vsigmabb,vsigmaab,
     &  v2rhoa2,v2rhob2,v2rhoab,
     &  v2rhoasigmaaa,v2rhoasigmaab,v2rhoasigmabb,
     &  v2rhobsigmabb,v2rhobsigmaab,v2rhobsigmaaa,
     &  v2sigmaaa2,v2sigmaaaab,v2sigmaaabb,
     &  v2sigmaab2,v2sigmaabbb,v2sigmabb2)
c
c     J.P. Perdew, Y. Wang
c     Accurate and simple analytic representation of 
c     the electron-gas correlation energy
c     Phys. Rev. B 45 (1992) 13244-13249
c
c
c     CITATION:
c
c     Functionals were obtained from the Density Functional Repository 
c     as developed and distributed by the Quantum Chemistry Group, 
c     CCLRC Daresbury Laboratory, Daresbury, Cheshire, WA4 4AD 
c     United Kingdom. Contact Huub van Dam (h.j.j.vandam@dl.ac.uk) or 
c     Paul Sherwood for further information.
c
c     COPYRIGHT:
c
c     Users may incorporate the source code into software packages and
c     redistribute the source code provided the source code is not
c     changed in anyway and is properly cited in any documentation or
c     publication related to its use.
c
c     ACKNOWLEDGEMENT:
c
c     The source code was generated using Maple 8 through a modified
c     version of the dfauto script published in:
c
c        R. Strange, F.R. Manby, P.J. Knowles
c        Automatic code generation in density functional theory
c        Comp. Phys. Comm. 136 (2001) 310-318.
c
      implicit real*8 (a-h,o-z)
      integer ideriv,npt
      real*8 rhoa1(npt),rhob1(npt)
      real*8 sigmaaa1(npt),sigmabb1(npt),sigmaab1(npt)
      real*8 zk(npt),vrhoa(npt),vrhob(npt)
      real*8 vsigmaaa(npt),vsigmabb(npt),vsigmaab(npt)
      real*8 v2rhoa2(npt),v2rhob2(npt),v2rhoab(npt)
      real*8 v2rhoasigmaaa(npt),v2rhoasigmaab(npt)
      real*8 v2rhoasigmabb(npt),v2rhobsigmabb(npt)
      real*8 v2rhobsigmaab(npt),v2rhobsigmaaa(npt)
      real*8 v2sigmaaa2(npt),v2sigmaaaab(npt),v2sigmaaabb(npt)
      real*8 v2sigmaab2(npt),v2sigmaabbb(npt),v2sigmabb2(npt)
      parameter(tol=1.0d-20)
      
      if (ideriv.eq.0) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      t1 = 1/rhob
      t2 = t1**(1.D0/3.D0)
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t17 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t6
     #+0.3844746237447211D1*t2+0.1644733775567609D1*t9
     #+0.2405871291288192D0*t11))
      zk(i) = -0.3109D-1*rhob*(1.D0+0.1274696188700087D0*t2)*t17
      elseif(rhob.lt.tol) then
      rho = rhoa
      t1 = 1/rhoa
      t2 = t1**(1.D0/3.D0)
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t17 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t6
     #+0.3844746237447211D1*t2+0.1644733775567609D1*t9
     #+0.2405871291288192D0*t11))
      zk(i) = -0.3109D-1*rhoa*(1.D0+0.1274696188700087D0*t2)*t17
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      t1 = rhoa+rhob
      t2 = 1/t1
      t3 = t2**(1.D0/3.D0)
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t17 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t6
     #+0.2225569421150687D1*t3+0.8004286349993634D0*t9
     #+0.1897004325747559D0*t11))
      t19 = 0.62182D-1*(1.D0+0.1325688999052018D0*t3)*t17
      t30 = dlog(1.D0+0.2960857464321668D2/(0.8157414703487641D1*t6
     #+0.2247591863577616D1*t3+0.4300972471276643D0*t9
     #+0.1911512595127338D0*t11))
      t33 = rhoa-1.D0*rhob
      t34 = t33*t2
      t35 = 1.D0+t34
      t36 = t35**(1.D0/3.D0)
      t39 = 1.D0-1.D0*t34
      t40 = t39**(1.D0/3.D0)
      t42 = t36*t35+t40*t39-2.D0
      t43 = t33**2
      t44 = t43**2
      t45 = t1**2
      t46 = t45**2
      t48 = t44/t46
      t64 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t6
     #+0.3844746237447211D1*t3+0.1644733775567609D1*t9
     #+0.2405871291288192D0*t11))
      zk(i) = t1*(-t19+0.3799574853701528D-1*(1.D0
     #+0.6901399211255825D-1*t3)*t30*t42*(1.D0-1.D0*t48)
     #+0.1923661050931536D1*(-0.3109D-1*(1.D0+0.1274696188700087D0*t3)
     #*t64+t19)*t42*t48)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.1) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      t1 = 1/rhob
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1274696188700087D0*t2
      t5 = rhob*t4
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t2
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      zk(i) = -0.3109D-1*t5*t17
      vrhoa(i) = 0.D0
      t22 = 1/t11
      t26 = t13**2
      t28 = t6**2
      t29 = t28**2
      t32 = rhob**2
      t33 = 1/t32
      vrhob(i) = -0.3109D-1*t4*t17+0.1321010150222857D-2*t1*t22*t17
     #+0.1D1*t5/t26*(-0.1853395810515781D1/t29/t6*t33
     #-0.128158207914907D1*t22*t33-0.8223668877838045D0/t9*t33
     #-0.1603914194192128D0/t2*t33)/t16
      elseif(rhob.lt.tol) then
      rho = rhoa
      t1 = 1/rhoa
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1274696188700087D0*t2
      t5 = rhoa*t4
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t2
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      zk(i) = -0.3109D-1*t5*t17
      t22 = 1/t11
      t26 = t13**2
      t28 = t6**2
      t29 = t28**2
      t32 = rhoa**2
      t33 = 1/t32
      vrhoa(i) = -0.3109D-1*t4*t17+0.1321010150222857D-2*t1*t22*t17
     #+0.1D1*t5/t26*(-0.1853395810515781D1/t29/t6*t33
     #-0.128158207914907D1*t22*t33-0.8223668877838045D0/t9*t33
     #-0.1603914194192128D0/t2*t33)/t16
      vrhob(i) = 0.D0
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      t1 = rhoa+rhob
      t2 = 1/t1
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1325688999052018D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t3
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      t19 = 0.62182D-1*t5*t17
      t21 = 1.D0+0.6901399211255825D-1*t3
      t26 = 0.8157414703487641D1*t6+0.2247591863577616D1*t3
     #+0.4300972471276643D0*t9+0.1911512595127338D0*t11
      t29 = 1.D0+0.2960857464321668D2/t26
      t30 = dlog(t29)
      t31 = t21*t30
      t33 = rhoa-1.D0*rhob
      t34 = t33*t2
      t35 = 1.D0+t34
      t36 = t35**(1.D0/3.D0)
      t39 = 1.D0-1.D0*t34
      t40 = t39**(1.D0/3.D0)
      t42 = t36*t35+t40*t39-2.D0
      t43 = t33**2
      t44 = t43**2
      t45 = t1**2
      t46 = t45**2
      t47 = 1/t46
      t48 = t44*t47
      t50 = 1.D0-1.D0*t48
      t53 = 0.3799574853701528D-1*t31*t42*t50
      t55 = 1.D0+0.1274696188700087D0*t3
      t60 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t63 = 1.D0+0.321646831778707D2/t60
      t64 = dlog(t63)
      t67 = -0.3109D-1*t55*t64+t19
      t68 = t67*t42
      t70 = 0.1923661050931536D1*t68*t48
      zk(i) = t1*(-t19+t53+t70)
      t73 = 1/t45
      t74 = 1/t11*t73
      t75 = t74*t17
      t76 = 0.2747799777968419D-2*t75
      t77 = t13**2
      t80 = t6**2
      t81 = t80**2
      t84 = 1/t81/t6*t73
      t88 = 1/t9*t73
      t91 = 1/t3*t73
      t96 = t5/t77*(-0.99709173929518D0*t84-0.7418564737168958D0*t74
     #-0.4002143174996817D0*t88-0.1264669550498372D0*t91)/t16
      t97 = 0.1D1*t96
      t101 = 0.8740794299481065D-3*t74*t30*t42*t50
      t102 = t26**2
      t115 = 0.1124999956683108D1*t21/t102*(-0.135956911724794D1*t84
     #-0.7491972878592054D0*t74-0.2150486235638321D0*t88
     #-0.1274341730084892D0*t91)/t29*t42*t50
      t116 = t33*t73
      t117 = 1.D0*t116
      t121 = 1.D0*t2
      t125 = 0.1333333333333333D1*t36*(t2-t117)+0.1333333333333333D1
     #*t40*(-t121+t116)
      t130 = t43*t33*t47
      t131 = 4.D0*t130
      t134 = t44/t46/t1
      t135 = 4.D0*t134
      t142 = t60**2
      t159 = 0.1923661050931536D1*(0.1321010150222857D-2*t74*t64+0.1D1
     #*t55/t142*(-0.1853395810515781D1*t84-0.128158207914907D1*t74
     #-0.8223668877838045D0*t88-0.1603914194192128D0*t91)/t63
     #-0.2747799777968419D-2*t75-0.1D1*t96)*t42*t48
      t163 = t68*t130
      t166 = 0.7694644203726145D1*t68*t134
      vrhoa(i) = -t19+t53+t70+t1*(t76+t97-t101-t115
     #+0.3799574853701528D-1*t31*t125*t50+0.3799574853701528D-1*t31
     #*t42*(-t131+t135)+t159+0.1923661050931536D1*t67*t125*t48
     #+0.7694644203726145D1*t163-t166)
      t175 = 0.1333333333333333D1*t36*(-t121-t117)
     #+0.1333333333333333D1*t40*(t2+t116)
      vrhob(i) = -t19+t53+t70+t1*(t76+t97-t101-t115
     #+0.3799574853701528D-1*t31*t175*t50+0.3799574853701528D-1*t31
     #*t42*(t131+t135)+t159+0.1923661050931536D1*t67*t175*t48
     #-0.7694644203726145D1*t163-t166)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      vrhob(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.2) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      t1 = 1/rhob
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1274696188700087D0*t2
      t5 = rhob*t4
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t2
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      zk(i) = -0.3109D-1*t5*t17
      vrhoa(i) = 0.D0
      t22 = 1/t11
      t23 = t1*t22
      t26 = t13**2
      t27 = 1/t26
      t28 = t6**2
      t29 = t28**2
      t30 = t29*t6
      t31 = 1/t30
      t32 = rhob**2
      t33 = 1/t32
      t38 = 1/t9
      t41 = 1/t2
      t44 = -0.1853395810515781D1*t31*t33-0.128158207914907D1*t22*t33
     #-0.8223668877838045D0*t38*t33-0.1603914194192128D0*t41*t33
      t46 = 1/t16
      t47 = t27*t44*t46
      vrhob(i) = -0.3109D-1*t4*t17+0.1321010150222857D-2*t23*t17+0.1D1
     #*t5*t47
      v2rhoa2(i) = 0.D0
      v2rhoab(i) = 0.D0
      t55 = 1/t32/rhob
      t57 = 1/t11/t1
      t65 = t44**2
      t72 = t32**2
      t73 = 1/t72
      t99 = t26**2
      t102 = t16**2
      v2rhob2(i) = 0.2D1*t4*t27*t44*t46+0.8806734334819047D-3*t55*t57
     #*t17-0.8497974591333914D-1*t23*t47-0.2D1*t5/t26/t13*t65*t46
     #+0.1D1*t5*t27*(-0.1544496508763151D1/t30/t1*t73
     #+0.3706791621031562D1*t31*t55-0.854388052766047D0*t57*t73
     #+0.2563164158298141D1*t22*t55-0.4111834438919023D0/t9/t1*t73
     #+0.1644733775567609D1*t38*t55-0.5346380647307093D-1/t2/t1*t73
     #+0.3207828388384256D0*t41*t55)*t46+0.321646831778707D2*t5/t99
     #*t65/t102
      elseif(rhob.lt.tol) then
      rho = rhoa
      t1 = 1/rhoa
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1274696188700087D0*t2
      t5 = rhoa*t4
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t2
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      zk(i) = -0.3109D-1*t5*t17
      t22 = 1/t11
      t23 = t1*t22
      t26 = t13**2
      t27 = 1/t26
      t28 = t6**2
      t29 = t28**2
      t30 = t29*t6
      t31 = 1/t30
      t32 = rhoa**2
      t33 = 1/t32
      t38 = 1/t9
      t41 = 1/t2
      t44 = -0.1853395810515781D1*t31*t33-0.128158207914907D1*t22*t33
     #-0.8223668877838045D0*t38*t33-0.1603914194192128D0*t41*t33
      t46 = 1/t16
      t47 = t27*t44*t46
      vrhoa(i) = -0.3109D-1*t4*t17+0.1321010150222857D-2*t23*t17+0.1D1
     #*t5*t47
      vrhob(i) = 0.D0
      t55 = 1/t32/rhoa
      t57 = 1/t11/t1
      t65 = t44**2
      t72 = t32**2
      t73 = 1/t72
      t99 = t26**2
      t102 = t16**2
      v2rhoa2(i) = 0.2D1*t4*t27*t44*t46+0.8806734334819047D-3*t55*t57
     #*t17-0.8497974591333914D-1*t23*t47-0.2D1*t5/t26/t13*t65*t46
     #+0.1D1*t5*t27*(-0.1544496508763151D1/t30/t1*t73
     #+0.3706791621031562D1*t31*t55-0.854388052766047D0*t57*t73
     #+0.2563164158298141D1*t22*t55-0.4111834438919023D0/t9/t1*t73
     #+0.1644733775567609D1*t38*t55-0.5346380647307093D-1/t2/t1*t73
     #+0.3207828388384256D0*t41*t55)*t46+0.321646831778707D2*t5/t99
     #*t65/t102
      v2rhob2(i) = 0.D0
      v2rhoab(i) = 0.D0
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      t1 = rhoa+rhob
      t2 = 1/t1
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1325688999052018D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t3
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      t19 = 0.62182D-1*t5*t17
      t21 = 1.D0+0.6901399211255825D-1*t3
      t26 = 0.8157414703487641D1*t6+0.2247591863577616D1*t3
     #+0.4300972471276643D0*t9+0.1911512595127338D0*t11
      t29 = 1.D0+0.2960857464321668D2/t26
      t30 = dlog(t29)
      t31 = t21*t30
      t33 = rhoa-1.D0*rhob
      t34 = t33*t2
      t35 = 1.D0+t34
      t36 = t35**(1.D0/3.D0)
      t39 = 1.D0-1.D0*t34
      t40 = t39**(1.D0/3.D0)
      t42 = t36*t35+t40*t39-2.D0
      t43 = t33**2
      t44 = t43**2
      t45 = t1**2
      t46 = t45**2
      t47 = 1/t46
      t48 = t44*t47
      t50 = 1.D0-1.D0*t48
      t51 = t42*t50
      t53 = 0.3799574853701528D-1*t31*t51
      t55 = 1.D0+0.1274696188700087D0*t3
      t60 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t63 = 1.D0+0.321646831778707D2/t60
      t64 = dlog(t63)
      t67 = -0.3109D-1*t55*t64+t19
      t68 = t67*t42
      t70 = 0.1923661050931536D1*t68*t48
      zk(i) = t1*(-t19+t53+t70)
      t72 = 1/t11
      t73 = 1/t45
      t74 = t72*t73
      t75 = t74*t17
      t76 = 0.2747799777968419D-2*t75
      t77 = t13**2
      t78 = 1/t77
      t79 = t5*t78
      t80 = t6**2
      t81 = t80**2
      t82 = t81*t6
      t83 = 1/t82
      t84 = t83*t73
      t87 = 1/t9
      t88 = t87*t73
      t90 = 1/t3
      t91 = t90*t73
      t93 = -0.99709173929518D0*t84-0.7418564737168958D0*t74
     #-0.4002143174996817D0*t88-0.1264669550498372D0*t91
      t94 = 1/t16
      t96 = t79*t93*t94
      t97 = 0.1D1*t96
      t98 = t30*t42
      t99 = t98*t50
      t100 = t74*t99
      t101 = 0.8740794299481065D-3*t100
      t102 = t26**2
      t103 = 1/t102
      t104 = t21*t103
      t109 = -0.135956911724794D1*t84-0.7491972878592054D0*t74
     #-0.2150486235638321D0*t88-0.1274341730084892D0*t91
      t110 = t104*t109
      t111 = 1/t29
      t112 = t111*t42
      t113 = t112*t50
      t114 = t110*t113
      t115 = 0.1124999956683108D1*t114
      t116 = t33*t73
      t117 = 1.D0*t116
      t118 = t2-t117
      t121 = 1.D0*t2
      t122 = -t121+t116
      t125 = 0.1333333333333333D1*t36*t118+0.1333333333333333D1*t40*t122
      t127 = t31*t125*t50
      t128 = 0.3799574853701528D-1*t127
      t129 = t43*t33
      t130 = t129*t47
      t131 = 4.D0*t130
      t133 = 1/t46/t1
      t134 = t44*t133
      t135 = 4.D0*t134
      t136 = -t131+t135
      t138 = t31*t42*t136
      t139 = 0.3799574853701528D-1*t138
      t142 = t60**2
      t143 = 1/t142
      t144 = t55*t143
      t149 = -0.1853395810515781D1*t84-0.128158207914907D1*t74
     #-0.8223668877838045D0*t88-0.1603914194192128D0*t91
      t150 = 1/t63
      t156 = 0.1321010150222857D-2*t74*t64+0.1D1*t144*t149*t150
     #-0.2747799777968419D-2*t75-0.1D1*t96
      t157 = t156*t42
      t158 = t157*t48
      t159 = 0.1923661050931536D1*t158
      t160 = t67*t125
      t161 = t160*t48
      t162 = 0.1923661050931536D1*t161
      t163 = t68*t130
      t165 = t68*t134
      t166 = 0.7694644203726145D1*t165
      vrhoa(i) = -t19+t53+t70+t1*(t76+t97-t101-t115+t128+t139+t159
     #+t162+0.7694644203726145D1*t163-t166)
      t169 = -t121-t117
      t172 = t2+t116
      t175 = 0.1333333333333333D1*t36*t169+0.1333333333333333D1*t40*t172
      t177 = t31*t175*t50
      t178 = 0.3799574853701528D-1*t177
      t179 = t131+t135
      t181 = t31*t42*t179
      t182 = 0.3799574853701528D-1*t181
      t183 = t67*t175
      t184 = t183*t48
      t185 = 0.1923661050931536D1*t184
      vrhob(i) = -t19+t53+t70+t1*(t76+t97-t101-t115+t178+t182+t159
     #+t185-0.7694644203726145D1*t163-t166)
      t189 = 0.5495599555936838D-2*t75
      t190 = 0.2D1*t96
      t191 = 0.1748158859896213D-2*t100
      t192 = 0.2249999913366216D1*t114
      t195 = 0.3847322101863073D1*t158
      t198 = 0.1538928840745229D2*t165
      t199 = t36**2
      t200 = 1/t199
      t201 = t118**2
      t204 = 2.D0*t73
      t206 = 1/t45/t1
      t208 = 2.D0*t33*t206
      t209 = -t204+t208
      t212 = t40**2
      t213 = 1/t212
      t214 = t122**2
      t220 = 0.4444444444444444D0*t200*t201+0.1333333333333333D1*t36
     #*t209+0.4444444444444444D0*t213*t214-0.1333333333333333D1*t40*t209
      t226 = 1/t11/t2*t47
      t228 = 0.5827196199654043D-3*t226*t99
      t229 = t43*t47
      t230 = t68*t229
      t231 = 0.2308393261117844D2*t230
      t234 = t44/t46/t45
      t236 = 0.3847322101863073D2*t68*t234
      t238 = 0.1538928840745229D2*t157*t134
      t239 = t129*t133
      t240 = t68*t239
      t242 = t77**2
      t245 = t93**2
      t246 = t16**2
      t249 = t5/t242*t245/t246
      t250 = 0.160818243221511D2*t249
      t255 = t5/t77/t13*t245*t94
      t256 = 0.2D1*t255
      t259 = 1/t82/t2*t47
      t261 = t83*t206
      t264 = t72*t206
      t268 = 1/t9/t2*t47
      t270 = t87*t206
      t274 = 1/t3/t2*t47
      t276 = t90*t206
      t280 = t79*(-0.8309097827459833D0*t259+0.199418347859036D1*t261
     #-0.4945709824779306D0*t226+0.1483712947433792D1*t264
     #-0.2001071587498409D0*t268+0.8004286349993634D0*t270
     #-0.4215565168327908D-1*t274+0.2529339100996745D0*t276)*t94
      t281 = 0.1D1*t280
      t282 = 12.D0*t229
      t283 = 32.D0*t239
      t284 = 20.D0*t234
      t300 = t149**2
      t316 = t142**2
      t319 = t63**2
      t324 = t226*t17
      t326 = t264*t17
      t330 = t74*t78*t93*t94
      t335 = 0.8806734334819047D-3*t226*t64-0.2642020300445714D-2*t264
     #*t64-0.8497974591333914D-1*t74*t143*t149*t150-0.2D1*t55/t142/t60
     #*t300*t150+0.1D1*t144*(-0.1544496508763151D1*t259
     #+0.3706791621031562D1*t261-0.854388052766047D0*t226
     #+0.2563164158298141D1*t264-0.4111834438919023D0*t268
     #+0.1644733775567609D1*t270-0.5346380647307093D-1*t274
     #+0.3207828388384256D0*t276)*t150+0.321646831778707D2*t55/t316
     #*t300/t319-0.1831866518645613D-2*t324+0.5495599555936838D-2*t326
     #+0.8837926660346786D-1*t330+0.2D1*t255-0.1D1*t280
     #-0.160818243221511D2*t249
      t338 = 0.1923661050931536D1*t335*t42*t48
      t345 = t157*t130
      t347 = 0.3799574853701528D-1*t31*t220*t50-t228+t231+t236-t238
     #-0.6155715362980916D2*t240+t250-t256+t281+0.3799574853701528D-1
     #*t31*t42*(-t282+t283-t284)+t338+0.7599149707403056D-1*t31*t125
     #*t136+0.1923661050931536D1*t67*t220*t48+0.1538928840745229D2*t345
      t348 = t160*t130
      t350 = 0.1831866518645613D-2*t324
      t351 = 0.5495599555936838D-2*t326
      t353 = 0.1748158859896213D-2*t264*t99
      t354 = t160*t134
      t357 = t74*t98*t136
      t361 = t74*t30*t125*t50
      t366 = t109**2
      t369 = 0.2249999913366216D1*t21/t102/t26*t366*t113
      t374 = 0.5176049209143758D-1*t74*t103*t109*t111*t51
      t375 = 0.8837926660346786D-1*t330
      t376 = t102**2
      t380 = t29**2
      t385 = 0.3330964519106732D2*t21/t376*t366/t380*t42*t50
      t388 = t110*t111*t125*t50
      t391 = t110*t112*t136
      t404 = 0.1124999956683108D1*t104*(-0.1132974264373283D1*t259
     #+0.271913823449588D1*t261-0.4994648585728036D0*t226
     #+0.1498394575718411D1*t264-0.1075243117819161D0*t268
     #+0.4300972471276643D0*t270-0.4247805766949639D-1*t274
     #+0.2548683460169784D0*t276)*t113
      t406 = t156*t125*t48
      t408 = 0.1538928840745229D2*t348+t350-t351+t353
     #-0.1538928840745229D2*t354-0.1748158859896213D-2*t357
     #-0.1748158859896213D-2*t361+t369+t374-t375-t385
     #-0.2249999913366216D1*t388-0.2249999913366216D1*t391-t404
     #+0.3847322101863073D1*t406
      v2rhoa2(i) = t189+t190-t191-t192+0.7599149707403056D-1*t127
     #+0.7599149707403056D-1*t138+t195+0.3847322101863073D1*t161
     #+0.1538928840745229D2*t163-t198+t1*(t347+t408)
      t415 = t169**2
      t418 = t204+t208
      t421 = t172**2
      t427 = 0.4444444444444444D0*t200*t415+0.1333333333333333D1*t36
     #*t418+0.4444444444444444D0*t213*t421-0.1333333333333333D1*t40*t418
      t439 = t156*t175*t48
      t441 = t183*t134
      t443 = t183*t130
      t450 = t110*t111*t175*t50
      t453 = 0.3799574853701528D-1*t31*t427*t50+0.7599149707403056D-1
     #*t31*t175*t179+0.3799574853701528D-1*t31*t42*(-t282-t283-t284)
     #+0.3847322101863073D1*t439-0.1538928840745229D2*t441
     #-0.1538928840745229D2*t443+0.1923661050931536D1*t67*t427*t48
     #-0.2249999913366216D1*t450-t228+t231+t236-t238
     #+0.6155715362980916D2*t240+t250
      t456 = t74*t98*t179
      t460 = t74*t30*t175*t50
      t463 = t110*t112*t179
      t465 = -t256+t281+t338-0.1538928840745229D2*t345+t350-t351+t353
     #+t369+t374-t375-t385-t404-0.1748158859896213D-2*t456
     #-0.1748158859896213D-2*t460-0.2249999913366216D1*t463
      v2rhob2(i) = t189+t190-t191-t192+0.7599149707403056D-1*t177
     #+0.7599149707403056D-1*t181+t195+0.3847322101863073D1*t184
     #-0.1538928840745229D2*t163-t198+t1*(t453+t465)
      t484 = 0.4444444444444444D0*t200*t118*t169+0.2666666666666667D1
     #*t36*t33*t206+0.4444444444444444D0*t213*t122*t172
     #-0.2666666666666667D1*t40*t33*t206
      t502 = 0.1923661050931536D1*t439-0.7694644203726145D1*t441
     #+0.7694644203726145D1*t443-0.1124999956683108D1*t450
     #+0.3799574853701528D-1*t31*t484*t50+0.3799574853701528D-1*t31
     #*t125*t179+0.3799574853701528D-1*t31*t175*t136
     #+0.3799574853701528D-1*t31*t42*(t282-t284)+0.1923661050931536D1
     #*t67*t484*t48-t228-0.2308393261117844D2*t230+t236-t238+t250-t256
     #+t281+t338
      t513 = -0.7694644203726145D1*t348+t350-t351+t353
     #-0.7694644203726145D1*t354-0.8740794299481065D-3*t357
     #-0.8740794299481065D-3*t361+t369+t374-t375-t385
     #-0.1124999956683108D1*t388-0.1124999956683108D1*t391-t404
     #+0.1923661050931536D1*t406-0.8740794299481065D-3*t456
     #-0.8740794299481065D-3*t460-0.1124999956683108D1*t463
      v2rhoab(i) = t189+t190-t191-t192+t178+t182+t195+t185-t198+t128
     #+t139+t162+t1*(t502+t513)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      vrhob(i) = 0.0d0
      v2rhoa2(i) = 0.0d0
      v2rhob2(i) = 0.0d0
      v2rhoab(i) = 0.0d0
      endif ! rho
      enddo
      
      endif ! ideriv
      return
      end
      
      
      subroutine rks_c_pw92
     & (ideriv,npt,rhoa1,sigmaaa1,
     &  zk,vrhoa,vsigmaaa,
     &  v2rhoa2,v2rhoasigmaaa,v2sigmaaa2)
c
c     J.P. Perdew, Y. Wang
c     Accurate and simple analytic representation of 
c     the electron-gas correlation energy
c     Phys. Rev. B 45 (1992) 13244-13249
c
c
c     CITATION:
c
c     Functionals were obtained from the Density Functional Repository 
c     as developed and distributed by the Quantum Chemistry Group, 
c     CCLRC Daresbury Laboratory, Daresbury, Cheshire, WA4 4AD 
c     United Kingdom. Contact Huub van Dam (h.j.j.vandam@dl.ac.uk) or 
c     Paul Sherwood for further information.
c
c     COPYRIGHT:
c
c     Users may incorporate the source code into software packages and
c     redistribute the source code provided the source code is not
c     changed in anyway and is properly cited in any documentation or
c     publication related to its use.
c
c     ACKNOWLEDGEMENT:
c
c     The source code was generated using Maple 8 through a modified
c     version of the dfauto script published in:
c
c        R. Strange, F.R. Manby, P.J. Knowles
c        Automatic code generation in density functional theory
c        Comp. Phys. Comm. 136 (2001) 310-318.
c
      implicit real*8 (a-h,o-z)
      integer ideriv,npt
      real*8 rhoa1(npt)
      real*8 sigmaaa1(npt)
      real*8 zk(npt),vrhoa(npt),vsigmaaa(npt)
      real*8 v2rhoa2(npt),v2rhoasigmaaa(npt),v2sigmaaa2(npt)
      parameter(tol=1.0d-20)
      
      if(ideriv.eq.0) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      t1 = 1/rho
      t2 = t1**(1.D0/3.D0)
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t17 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t6
     #+0.2225569421150687D1*t2+0.8004286349993634D0*t9
     #+0.1897004325747559D0*t11))
      zk(i) = -0.62182D-1*rho*(1.D0+0.1325688999052018D0*t2)*t17
      else ! rho
      zk(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.1) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      t1 = 1/rho
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1325688999052018D0*t2
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t2
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      zk(i) = -0.62182D-1*rho*t4*t17
      t23 = rho**2
      t24 = 1/t23
      t25 = 1/t11*t24
      t28 = t13**2
      t31 = t6**2
      t32 = t31**2
      vrhoa(i) = -0.62182D-1*t4*t17+rho*(0.2747799777968419D-2*t25*t17
     #+0.1D1*t4/t28*(-0.99709173929518D0/t32/t6*t24
     #-0.7418564737168958D0*t25-0.4002143174996817D0/t9*t24
     #-0.1264669550498372D0/t2*t24)/t16)
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.2) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      t1 = 1/rho
      t2 = t1**(1.D0/3.D0)
      t4 = 1.D0+0.1325688999052018D0*t2
      t6 = t1**(1.D0/6.D0)
      t9 = dsqrt(t1)
      t11 = t2**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t2
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      zk(i) = -0.62182D-1*rho*t4*t17
      t22 = 1/t11
      t23 = rho**2
      t24 = 1/t23
      t25 = t22*t24
      t26 = t25*t17
      t28 = t13**2
      t29 = 1/t28
      t30 = t4*t29
      t31 = t6**2
      t32 = t31**2
      t33 = t32*t6
      t34 = 1/t33
      t38 = 1/t9
      t41 = 1/t2
      t44 = -0.99709173929518D0*t34*t24-0.7418564737168958D0*t25
     #-0.4002143174996817D0*t38*t24-0.1264669550498372D0*t41*t24
      t45 = 1/t16
      t47 = t30*t44*t45
      vrhoa(i) = -0.62182D-1*t4*t17+rho*(0.2747799777968419D-2*t26
     #+0.1D1*t47)
      t55 = t23**2
      t56 = 1/t55
      t57 = 1/t11/t1*t56
      t59 = 0.1831866518645613D-2*t57*t17
      t61 = 1/t23/rho
      t62 = t22*t61
      t64 = 0.5495599555936838D-2*t62*t17
      t75 = dlog(1.D0+0.2960857464321668D2/(0.8157414703487641D1*t6
     #+0.2247591863577616D1*t2+0.4300972471276643D0*t9
     #+0.1911512595127338D0*t11))
      t77 = (1.D0+0.6901399211255825D-1*t2)*t75*t24
      t82 = 0.8837926660346786D-1*t25*t29*t44*t45
      t83 = t28**2
      t86 = t44**2
      t87 = t16**2
      t91 = 0.160818243221511D2*t4/t83*t86/t87
      t115 = 0.1D1*t30*(-0.8309097827459833D0/t33/t1*t56
     #+0.199418347859036D1*t34*t61-0.4945709824779306D0*t57
     #+0.1483712947433792D1*t62-0.2001071587498409D0/t9/t1*t56
     #+0.8004286349993634D0*t38*t61-0.4215565168327908D-1/t2/t1*t56
     #+0.2529339100996745D0*t41*t61)*t45
      t121 = 0.2D1*t4/t28/t13*t86*t45
      v2rhoa2(i) = 0.4D1*t47+0.1099119911187368D-1*t26+rho*(t59-t64
     #+0.3377399869956914D-1*t77-t82+t91+t115-t121)+rho*(t59-t64
     #-0.3377399869956914D-1*t77-t82+t91+t115-t121)
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      v2rhoa2(i) = 0.0d0
      endif ! rho
      enddo
      
      endif ! ideriv
      return
      end

c:C_PW92subrend

c    Generated: Mon Nov 19 16:05:15 GMT 2007

      subroutine uks_c_pw91
     & (ideriv,npt,rhoa1,rhob1,sigmaaa1,sigmabb1,sigmaab1,
     &  zk,vrhoa,vrhob,vsigmaaa,vsigmabb,vsigmaab,
     &  v2rhoa2,v2rhob2,v2rhoab,
     &  v2rhoasigmaaa,v2rhoasigmaab,v2rhoasigmabb,
     &  v2rhobsigmabb,v2rhobsigmaab,v2rhobsigmaaa,
     &  v2sigmaaa2,v2sigmaaaab,v2sigmaaabb,
     &  v2sigmaab2,v2sigmaabbb,v2sigmabb2)
c
c     J.P. Perdew, J.A. Chevary, S.H. Vosko, K.A. Jackson, 
c     M.R. Pederson, D.J. Singh, C. Fiolhais
c     Atoms, molecules, solids and surfaces: 
c     Applications of the generalized gradient approximation 
c     for exchange and correlation
c     Phys. Rev. B 46 (1992) 6671--6687
c
c
c     CITATION:
c
c     Functionals were obtained from the Density Functional Repository 
c     as developed and distributed by the Quantum Chemistry Group, 
c     CCLRC Daresbury Laboratory, Daresbury, Cheshire, WA4 4AD 
c     United Kingdom. Contact Huub van Dam (h.j.j.vandam@dl.ac.uk) or 
c     Paul Sherwood for further information.
c
c     COPYRIGHT:
c
c     Users may incorporate the source code into software packages and
c     redistribute the source code provided the source code is not
c     changed in anyway and is properly cited in any documentation or
c     publication related to its use.
c
c     ACKNOWLEDGEMENT:
c
c     The source code was generated using Maple 8 through a modified
c     version of the dfauto script published in:
c
c        R. Strange, F.R. Manby, P.J. Knowles
c        Automatic code generation in density functional theory
c        Comp. Phys. Comm. 136 (2001) 310-318.
c
      implicit real*8 (a-h,o-z)
      integer ideriv,npt
      real*8 rhoa1(npt),rhob1(npt)
      real*8 sigmaaa1(npt),sigmabb1(npt),sigmaab1(npt)
      real*8 zk(npt),vrhoa(npt),vrhob(npt)
      real*8 vsigmaaa(npt),vsigmabb(npt),vsigmaab(npt)
      real*8 v2rhoa2(npt),v2rhob2(npt),v2rhoab(npt)
      real*8 v2rhoasigmaaa(npt),v2rhoasigmaab(npt)
      real*8 v2rhoasigmabb(npt),v2rhobsigmabb(npt)
      real*8 v2rhobsigmaab(npt),v2rhobsigmaaa(npt)
      real*8 v2sigmaaa2(npt),v2sigmaaaab(npt),v2sigmaaabb(npt)
      real*8 v2sigmaab2(npt),v2sigmaabbb(npt),v2sigmabb2(npt)
      parameter(tol=1.0d-20)
      
      if (ideriv.eq.0) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmabb
      t2 = 1/rhob
      t3 = t2**(1.D0/3.D0)
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t17 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t6
     #+0.3844746237447211D1*t3+0.1644733775567609D1*t9
     #+0.2405871291288192D0*t11))
      t18 = (1.D0+0.1274696188700087D0*t3)*t17
      t20 = rhob**2
      t21 = rhob**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmabb**2
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t42 = t28**2
      t52 = dlog(1.D0+0.2697586091519874D1*(0.1007494971260294D0
     #*sigmabb*t23+0.2738174287780083D-1*t29*t30*t35)/(1.D0
     #+0.2717804421747983D0*t29*sigmabb*t23+0.7386460874872889D-1/t42
     #*t30*t35))
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmabb)
      zk(i) = rhob*(-0.3109D-1*t18+0.1236778371778789D-1*t52
     #+0.7937005259840997D0*(0.1D-2*(0.2568D1+0.1443307452126544D2*t3
     #+0.2843543831490386D-2*t11)/(1.D0+0.5411317332115466D1*t3
     #+0.1816419932959077D0*t11+0.1763993811759022D-1*t2)
     #-0.1853571428571429D-2)*sigmabb*t23*t70)
      elseif(rhob.lt.tol) then
      rho = rhoa
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigma = sigmaaa
      t2 = 1/rhoa
      t3 = t2**(1.D0/3.D0)
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t17 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t6
     #+0.3844746237447211D1*t3+0.1644733775567609D1*t9
     #+0.2405871291288192D0*t11))
      t18 = (1.D0+0.1274696188700087D0*t3)*t17
      t20 = rhoa**2
      t21 = rhoa**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmaaa**2
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t42 = t28**2
      t52 = dlog(1.D0+0.2697586091519874D1*(0.1007494971260294D0
     #*sigmaaa*t23+0.2738174287780083D-1*t29*t30*t35)/(1.D0
     #+0.2717804421747983D0*t29*sigmaaa*t23+0.7386460874872889D-1/t42
     #*t30*t35))
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmaaa)
      zk(i) = rhoa*(-0.3109D-1*t18+0.1236778371778789D-1*t52
     #+0.7937005259840997D0*(0.1D-2*(0.2568D1+0.1443307452126544D2*t3
     #+0.2843543831490386D-2*t11)/(1.D0+0.5411317332115466D1*t3
     #+0.1816419932959077D0*t11+0.1763993811759022D-1*t2)
     #-0.1853571428571429D-2)*sigmaaa*t23*t70)
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigmaab = sigmaab1(i)
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmaaa+sigmabb+2.D0*sigmaab
      t4 = 1/rho
      t5 = t4**(1.D0/3.D0)
      t8 = t4**(1.D0/6.D0)
      t11 = dsqrt(t4)
      t13 = t5**2
      t19 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t8
     #+0.2225569421150687D1*t5+0.8004286349993634D0*t11
     #+0.1897004325747559D0*t13))
      t21 = 0.62182D-1*(1.D0+0.1325688999052018D0*t5)*t19
      t32 = dlog(1.D0+0.2960857464321668D2/(0.8157414703487641D1*t8
     #+0.2247591863577616D1*t5+0.4300972471276643D0*t11
     #+0.1911512595127338D0*t13))
      t35 = rhoa-1.D0*rhob
      t36 = t35*t4
      t37 = 1.D0+t36
      t38 = t37**(1.D0/3.D0)
      t41 = 1.D0-1.D0*t36
      t42 = t41**(1.D0/3.D0)
      t44 = t38*t37+t42*t41-2.D0
      t45 = t35**2
      t46 = t45**2
      t47 = rho**2
      t48 = t47**2
      t50 = t46/t48
      t55 = 0.3799574853701528D-1*(1.D0+0.6901399211255825D-1*t5)*t32
     #*t44*(1.D0-1.D0*t50)
      t66 = dlog(1.D0+0.321646831778707D2/(0.1112037486309468D2*t8
     #+0.3844746237447211D1*t5+0.1644733775567609D1*t11
     #+0.2405871291288192D0*t13))
      t72 = 0.1923661050931536D1*(-0.3109D-1*(1.D0
     #+0.1274696188700087D0*t5)*t66+t21)*t44*t50
      t73 = t38**2
      t75 = t42**2
      t77 = 0.5D0*t73+0.5D0*t75
      t78 = t77**2
      t79 = t78*t77
      t80 = 1/t78
      t82 = rho**(1.D0/3.D0)
      t84 = 1/t82/t47
      t91 = dexp(-0.4042761511756372D2*(-t21+t55+t72)/t79)
      t92 = t91-1.D0
      t93 = 1/t92
      t94 = sigma**2
      t96 = t78**2
      t98 = t82**2
      t101 = 1/t96/t98/t48
      t109 = t92**2
      t119 = dlog(1.D0+0.2697586091519874D1*(0.634682060977037D-1
     #*sigma*t80*t84+0.1086645186223595D-1*t93*t94*t101)/(1.D0
     #+0.1712109500228824D0*t93*sigma*t80*t84+0.2931318940773793D-1
     #/t109*t94*t101))
      t140 = dexp(-0.261211729852336D1*t78/t98/t47*sigma)
      zk(i) = rho*(-t21+t55+t72+0.2473556743557577D-1*t79*t119+0.1D1*
     #(0.1D-2*(0.2568D1+0.1443307452126544D2*t5+0.2843543831490386D-2
     #*t13)/(1.D0+0.5411317332115466D1*t5+0.1816419932959077D0*t13
     #+0.1763993811759022D-1*t4)-0.1853571428571429D-2)*t77*sigma*t84
     #*t140)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.1) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmabb
      t2 = 1/rhob
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1274696188700087D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.3109D-1*t18
      t20 = rhob**2
      t21 = rhob**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmabb**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.1007494971260294D0*sigmabb*t23+0.2738174287780083D-1*t31
     #*t35
      t39 = t29*sigmabb
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.2717804421747983D0*t39*t23+0.7386460874872889D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.1236778371778789D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigmabb
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmabb)
      t71 = t23*t70
      t73 = 0.7937005259840997D0*t65*t71
      zk(i) = rhob*(-t19+t53+t73)
      vrhoa(i) = 0.D0
      t76 = 1/t20
      t77 = 1/t11*t76
      t79 = 0.1321010150222857D-2*t77*t17
      t80 = t13**2
      t83 = t6**2
      t84 = t83**2
      t94 = 1/t3*t76
      t100 = 0.1D1*t5/t80*(-0.1853395810515781D1/t84/t6*t76
     #-0.128158207914907D1*t77-0.8223668877838045D0/t9*t76
     #-0.1603914194192128D0*t94)/t16
      t103 = 1/t21/t20/rhob
      t106 = t79+t100
      t108 = t35*t106*t27
      t111 = t32*rhob
      t113 = 1/t33/t111
      t119 = t47**2
      t121 = t38/t119
      t122 = t43*sigmabb
      t140 = 1/t51
      t148 = t60**2
      vrhob(i) = -t19+t53+t73+rhob*(t79+t100+0.1236778371778789D-1*
     #(0.2697586091519874D1*(-0.2350821599607352D0*sigmabb*t103
     #+0.2213957124623647D1*t44*t108-0.1277814667630705D0*t31*t113)
     #*t48-0.2697586091519874D1*t121*(0.2197487022544806D2*t122*t23
     #*t106*t27-0.6341543650745294D0*t39*t103+0.1194467989321217D2/t42
     #/t28*t30*t108-0.3447015074940681D0*t44*t113))*t140
     #+0.7937005259840997D0*(0.1D-2*(-0.4811024840421814D1*t77
     #-0.1895695887660258D-2*t94)*t61-0.1D-2*t56/t148*(
     #-0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76))*sigmabb*t71-0.1851967893962899D1
     #*t65*t103*t70+0.3482823064697813D1*t64*t30/t32/t20*t70)
      vsigmaaa(i) = 0.D0
      vsigmaab(i) = 0.D0
      vsigmabb(i) = rhob*(0.1236778371778789D-1*(0.2697586091519874D1*
     #(0.1007494971260294D0*t23+0.5476348575560166D-1*t39*t35)*t48
     #-0.2697586091519874D1*t121*(0.2717804421747983D0*t29*t23
     #+0.1477292174974578D0*t122*t35))*t140+0.7937005259840997D0*t64
     #*t23*t70-0.130605864926168D1*t65/t111*t70)
      elseif(rhob.lt.tol) then
      rho = rhoa
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigma = sigmaaa
      t2 = 1/rhoa
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1274696188700087D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.3109D-1*t18
      t20 = rhoa**2
      t21 = rhoa**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmaaa**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.1007494971260294D0*sigmaaa*t23+0.2738174287780083D-1*t31
     #*t35
      t39 = t29*sigmaaa
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.2717804421747983D0*t39*t23+0.7386460874872889D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.1236778371778789D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigmaaa
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmaaa)
      t71 = t23*t70
      t73 = 0.7937005259840997D0*t65*t71
      zk(i) = rhoa*(-t19+t53+t73)
      t76 = 1/t20
      t77 = 1/t11*t76
      t79 = 0.1321010150222857D-2*t77*t17
      t80 = t13**2
      t83 = t6**2
      t84 = t83**2
      t94 = 1/t3*t76
      t100 = 0.1D1*t5/t80*(-0.1853395810515781D1/t84/t6*t76
     #-0.128158207914907D1*t77-0.8223668877838045D0/t9*t76
     #-0.1603914194192128D0*t94)/t16
      t103 = 1/t21/t20/rhoa
      t106 = t79+t100
      t108 = t35*t106*t27
      t111 = t32*rhoa
      t113 = 1/t33/t111
      t119 = t47**2
      t121 = t38/t119
      t122 = t43*sigmaaa
      t140 = 1/t51
      t148 = t60**2
      vrhoa(i) = -t19+t53+t73+rhoa*(t79+t100+0.1236778371778789D-1*
     #(0.2697586091519874D1*(-0.2350821599607352D0*sigmaaa*t103
     #+0.2213957124623647D1*t44*t108-0.1277814667630705D0*t31*t113)
     #*t48-0.2697586091519874D1*t121*(0.2197487022544806D2*t122*t23
     #*t106*t27-0.6341543650745294D0*t39*t103+0.1194467989321217D2/t42
     #/t28*t30*t108-0.3447015074940681D0*t44*t113))*t140
     #+0.7937005259840997D0*(0.1D-2*(-0.4811024840421814D1*t77
     #-0.1895695887660258D-2*t94)*t61-0.1D-2*t56/t148*(
     #-0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76))*sigmaaa*t71-0.1851967893962899D1
     #*t65*t103*t70+0.3482823064697813D1*t64*t30/t32/t20*t70)
      vrhob(i) = 0.D0
      vsigmaaa(i) = rhoa*(0.1236778371778789D-1*(0.2697586091519874D1*
     #(0.1007494971260294D0*t23+0.5476348575560166D-1*t39*t35)*t48
     #-0.2697586091519874D1*t121*(0.2717804421747983D0*t29*t23
     #+0.1477292174974578D0*t122*t35))*t140+0.7937005259840997D0*t64
     #*t23*t70-0.130605864926168D1*t65/t111*t70)
      vsigmaab(i) = 0.D0
      vsigmabb(i) = 0.D0
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigmaab = sigmaab1(i)
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmaaa+sigmabb+2.D0*sigmaab
      t4 = 1/rho
      t5 = t4**(1.D0/3.D0)
      t7 = 1.D0+0.1325688999052018D0*t5
      t8 = t4**(1.D0/6.D0)
      t11 = dsqrt(t4)
      t13 = t5**2
      t15 = 0.598255043577108D1*t8+0.2225569421150687D1*t5
     #+0.8004286349993634D0*t11+0.1897004325747559D0*t13
      t18 = 1.D0+0.160818243221511D2/t15
      t19 = dlog(t18)
      t21 = 0.62182D-1*t7*t19
      t23 = 1.D0+0.6901399211255825D-1*t5
      t28 = 0.8157414703487641D1*t8+0.2247591863577616D1*t5
     #+0.4300972471276643D0*t11+0.1911512595127338D0*t13
      t31 = 1.D0+0.2960857464321668D2/t28
      t32 = dlog(t31)
      t33 = t23*t32
      t35 = rhoa-1.D0*rhob
      t36 = t35*t4
      t37 = 1.D0+t36
      t38 = t37**(1.D0/3.D0)
      t41 = 1.D0-1.D0*t36
      t42 = t41**(1.D0/3.D0)
      t44 = t38*t37+t42*t41-2.D0
      t45 = t35**2
      t46 = t45**2
      t47 = rho**2
      t48 = t47**2
      t49 = 1/t48
      t50 = t46*t49
      t52 = 1.D0-1.D0*t50
      t55 = 0.3799574853701528D-1*t33*t44*t52
      t57 = 1.D0+0.1274696188700087D0*t5
      t62 = 0.1112037486309468D2*t8+0.3844746237447211D1*t5
     #+0.1644733775567609D1*t11+0.2405871291288192D0*t13
      t65 = 1.D0+0.321646831778707D2/t62
      t66 = dlog(t65)
      t69 = -0.3109D-1*t57*t66+t21
      t70 = t69*t44
      t72 = 0.1923661050931536D1*t70*t50
      t73 = t38**2
      t75 = t42**2
      t77 = 0.5D0*t73+0.5D0*t75
      t78 = t77**2
      t79 = t78*t77
      t80 = 1/t78
      t81 = sigma*t80
      t82 = rho**(1.D0/3.D0)
      t84 = 1/t82/t47
      t87 = -t21+t55+t72
      t88 = 1/t79
      t91 = dexp(-0.4042761511756372D2*t87*t88)
      t92 = t91-1.D0
      t93 = 1/t92
      t94 = sigma**2
      t95 = t93*t94
      t96 = t78**2
      t97 = 1/t96
      t98 = t82**2
      t100 = 1/t98/t48
      t101 = t97*t100
      t104 = 0.634682060977037D-1*t81*t84+0.1086645186223595D-1*t95*t101
      t105 = t93*sigma
      t106 = t80*t84
      t109 = t92**2
      t110 = 1/t109
      t111 = t110*t94
      t114 = 1.D0+0.1712109500228824D0*t105*t106+0.2931318940773793D-1
     #*t111*t101
      t115 = 1/t114
      t118 = 1.D0+0.2697586091519874D1*t104*t115
      t119 = dlog(t118)
      t121 = 0.2473556743557577D-1*t79*t119
      t124 = 0.2568D1+0.1443307452126544D2*t5+0.2843543831490386D-2*t13
      t128 = 1.D0+0.5411317332115466D1*t5+0.1816419932959077D0*t13
     #+0.1763993811759022D-1*t4
      t129 = 1/t128
      t132 = 0.1D-2*t124*t129-0.1853571428571429D-2
      t133 = t132*t77
      t136 = 1/t98/t47
      t140 = dexp(-0.261211729852336D1*t78*t136*sigma)
      t141 = sigma*t84*t140
      t143 = 0.1D1*t133*t141
      zk(i) = rho*(-t21+t55+t72+t121+t143)
      t149 = 0.1333333333333333D1*t38*t4-0.1333333333333333D1*t42*t4
      t152 = 0.3799574853701528D-1*t33*t149*t52
      t153 = t45*t35
      t156 = t33*t44*t153*t49
      t157 = 0.1519829941480611D0*t156
      t160 = 0.1923661050931536D1*t69*t149*t50
      t162 = t70*t153*t49
      t163 = 0.7694644203726145D1*t162
      t164 = t78*t119
      t165 = 1/t38
      t168 = 1/t42
      t171 = 0.3333333333333333D0*t165*t4-0.3333333333333333D0*t168*t4
      t174 = sigma*t88
      t178 = t111*t97
      t182 = t87*t97
      t185 = -0.4042761511756372D2*(t152-t157+t160+t163)*t88
     #+0.1212828453526912D3*t182*t171
      t187 = t100*t185*t91
      t192 = 1/t96/t77*t100
      t193 = t192*t171
      t199 = t114**2
      t201 = t104/t199
      t202 = t110*sigma
      t203 = t202*t80
      t208 = t88*t84
      t215 = 1/t109/t92*t94*t97
      t225 = 1/t118
      t232 = t132*t78*t94
      t233 = t48*rho
      t234 = 1/t233
      t242 = 1/t47
      t243 = 1/t13*t242
      t244 = t243*t19
      t245 = 0.2747799777968419D-2*t244
      t246 = t15**2
      t249 = t8**2
      t250 = t249**2
      t253 = 1/t250/t8*t242
      t257 = 1/t11*t242
      t260 = 1/t5*t242
      t265 = t7/t246*(-0.99709173929518D0*t253-0.7418564737168958D0
     #*t243-0.4002143174996817D0*t257-0.1264669550498372D0*t260)/t18
      t266 = 0.1D1*t265
      t270 = 0.8740794299481065D-3*t243*t32*t44*t52
      t271 = t28**2
      t284 = 0.1124999956683108D1*t23/t271*(-0.135956911724794D1*t253
     #-0.7491972878592054D0*t243-0.2150486235638321D0*t257
     #-0.1274341730084892D0*t260)/t31*t44*t52
      t291 = -0.1333333333333333D1*t38*t35*t242+0.1333333333333333D1
     #*t42*t35*t242
      t294 = 0.3799574853701528D-1*t33*t291*t52
      t298 = 0.1519829941480611D0*t33*t44*t46*t234
      t301 = t62**2
      t318 = 0.1923661050931536D1*(0.1321010150222857D-2*t243*t66
     #+0.1D1*t57/t301*(-0.1853395810515781D1*t253-0.128158207914907D1
     #*t243-0.8223668877838045D0*t257-0.1603914194192128D0*t260)/t65
     #-0.2747799777968419D-2*t244-0.1D1*t265)*t44*t50
      t321 = 0.1923661050931536D1*t69*t291*t50
      t324 = 0.7694644203726145D1*t70*t46*t234
      t331 = -0.3333333333333333D0*t165*t35*t242+0.3333333333333333D0
     #*t168*t35*t242
      t337 = t47*rho
      t339 = 1/t82/t337
      t347 = -0.4042761511756372D2*(t245+t266-t270-t284+t294+t298+t318
     #+t321-t324)*t88+0.1212828453526912D3*t182*t331
      t349 = t100*t347*t91
      t352 = t192*t331
      t357 = t97/t98/t233
      t391 = t128**2
      s1 = t245+t266-t270-t284+t294+t298+t318
      s2 = s1+t321-t324+0.7420670230672731D-1*t164*t331
      s3 = s2+0.2473556743557577D-1*t79*(0.2697586091519874D1*(
     #-0.1269364121954074D0*t174*t84*t331-0.148092480894642D0*t81*t339
     #-0.1086645186223595D-1*t178*t349-0.4346580744894379D-1*t95*t352
     #-0.5071010869043442D-1*t95*t357)*t115-0.2697586091519874D1*t201*
     #(-0.1712109500228824D0*t203*t84*t347*t91-0.3424219000457648D0
     #*t105*t208*t331-0.3994922167200589D0*t105*t80*t339
     #-0.5862637881547585D-1*t215*t349-0.1172527576309517D0*t111*t352
     #-0.136794883902777D0*t111*t357))*t225+0.1D1*(0.1D-2*(
     #-0.4811024840421814D1*t243-0.1895695887660258D-2*t260)*t129
     #-0.1D-2*t124/t391*(-0.1803772444038489D1*t243
     #-0.1210946621972718D0*t260-0.1763993811759022D-1*t242))*t77*t141
      t426 = s3+0.1D1*t132*t331*t141-0.2333333333333333D1*t133*sigma
     #*t339*t140+0.1D1*t133*sigma*t84*(-0.522423459704672D1*t77*t136
     #*sigma*t331+0.6965646129395627D1*t78/t98/t337*sigma)*t140
      t427 = rho*t426
      vrhoa(i) = rho*(t152-t157+t160+t163+0.7420670230672731D-1*t164
     #*t171+0.2473556743557577D-1*t79*(0.2697586091519874D1*(
     #-0.1269364121954074D0*t174*t84*t171-0.1086645186223595D-1*t178
     #*t187-0.4346580744894379D-1*t95*t193)*t115-0.2697586091519874D1
     #*t201*(-0.1712109500228824D0*t203*t84*t185*t91
     #-0.3424219000457648D0*t105*t208*t171-0.5862637881547585D-1*t215
     #*t187-0.1172527576309517D0*t111*t193))*t225+0.1D1*t132*t171*t141
     #-0.522423459704672D1*t232*t234*t171*t140)-t21+t55+t72+t121+t143
     #+t427
      t428 = -t149
      t431 = 0.3799574853701528D-1*t33*t428*t52
      t432 = 0.1519829941480611D0*t156
      t435 = 0.1923661050931536D1*t69*t428*t50
      t436 = 0.7694644203726145D1*t162
      t437 = -t171
      t448 = -0.4042761511756372D2*(t431+t432+t435-t436)*t88
     #+0.1212828453526912D3*t182*t437
      t450 = t100*t448*t91
      t453 = t192*t437
      vrhob(i) = rho*(t431+t432+t435-t436+0.7420670230672731D-1*t164
     #*t437+0.2473556743557577D-1*t79*(0.2697586091519874D1*(
     #-0.1269364121954074D0*t174*t84*t437-0.1086645186223595D-1*t178
     #*t450-0.4346580744894379D-1*t95*t453)*t115-0.2697586091519874D1
     #*t201*(-0.1712109500228824D0*t203*t84*t448*t91
     #-0.3424219000457648D0*t105*t208*t437-0.5862637881547585D-1*t215
     #*t450-0.1172527576309517D0*t111*t453))*t225+0.1D1*t132*t437*t141
     #-0.522423459704672D1*t232*t234*t437*t140)-t21+t55+t72+t121+t143
     #+t427
      vsigmaaa(i) = rho*(0.2473556743557577D-1*t79*
     #(0.2697586091519874D1*(0.634682060977037D-1*t106
     #+0.2173290372447189D-1*t105*t101)*t115-0.2697586091519874D1*t201
     #*(0.1712109500228824D0*t93*t80*t84+0.5862637881547585D-1*t202
     #*t101))*t225+0.1D1*t133*t84*t140-0.261211729852336D1*t132*t79
     #*sigma*t234*t140)
      vsigmaab(i) = 2.D0*vsigmaaa(i)
      vsigmabb(i) = vsigmaaa(i)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      vrhob(i) = 0.0d0
      vsigmaaa(i) = 0.0d0
      vsigmaab(i) = 0.0d0
      vsigmabb(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.2) then
      
      do i=1,npt
      rhoa = dmax1(0.D0,rhoa1(i))
      rhob = dmax1(0.D0,rhob1(i))
      rho = rhoa+rhob
      if(rho.gt.tol) then
      if(rhoa.lt.tol) then
      rho = rhob
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmabb
      t2 = 1/rhob
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1274696188700087D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.3109D-1*t18
      t20 = rhob**2
      t21 = rhob**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmabb**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.1007494971260294D0*sigmabb*t23+0.2738174287780083D-1*t31
     #*t35
      t39 = t29*sigmabb
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.2717804421747983D0*t39*t23+0.7386460874872889D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.1236778371778789D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigmabb
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmabb)
      t71 = t23*t70
      t73 = 0.7937005259840997D0*t65*t71
      zk(i) = rhob*(-t19+t53+t73)
      vrhoa(i) = 0.D0
      t75 = 1/t11
      t76 = 1/t20
      t77 = t75*t76
      t78 = t77*t17
      t79 = 0.1321010150222857D-2*t78
      t80 = t13**2
      t81 = 1/t80
      t82 = t5*t81
      t83 = t6**2
      t84 = t83**2
      t85 = t84*t6
      t86 = 1/t85
      t90 = 1/t9
      t93 = 1/t3
      t94 = t93*t76
      t96 = -0.1853395810515781D1*t86*t76-0.128158207914907D1*t77
     #-0.8223668877838045D0*t90*t76-0.1603914194192128D0*t94
      t97 = 1/t16
      t99 = t82*t96*t97
      t100 = 0.1D1*t99
      t101 = t20*rhob
      t103 = 1/t21/t101
      t106 = t79+t100
      t108 = t35*t106*t27
      t111 = t32*rhob
      t113 = 1/t33/t111
      t116 = -0.2350821599607352D0*sigmabb*t103+0.2213957124623647D1
     #*t44*t108-0.1277814667630705D0*t31*t113
      t119 = t47**2
      t120 = 1/t119
      t121 = t38*t120
      t122 = t43*sigmabb
      t130 = 1/t42/t28
      t131 = t130*t30
      t136 = 0.2197487022544806D2*t122*t23*t106*t27
     #-0.6341543650745294D0*t39*t103+0.1194467989321217D2*t131*t108
     #-0.3447015074940681D0*t44*t113
      t139 = 0.2697586091519874D1*t116*t48-0.2697586091519874D1*t121
     #*t136
      t140 = 1/t51
      t141 = t139*t140
      t145 = -0.4811024840421814D1*t77-0.1895695887660258D-2*t94
      t148 = t60**2
      t149 = 1/t148
      t150 = t56*t149
      t154 = -0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76
      t157 = 0.1D-2*t145*t61-0.1D-2*t150*t154
      t158 = t157*sigmabb
      t159 = t158*t71
      t161 = t103*t70
      t162 = t65*t161
      t164 = t64*t30
      t165 = t32*t20
      t167 = 1/t165*t70
      t168 = t164*t167
      vrhob(i) = -t19+t53+t73+rhob*(t79+t100+0.1236778371778789D-1
     #*t141+0.7937005259840997D0*t159-0.1851967893962899D1*t162
     #+0.3482823064697813D1*t168)
      vsigmaaa(i) = 0.D0
      vsigmaab(i) = 0.D0
      t175 = 0.1007494971260294D0*t23+0.5476348575560166D-1*t39*t35
      t182 = 0.2717804421747983D0*t29*t23+0.1477292174974578D0*t122*t35
      t185 = 0.2697586091519874D1*t175*t48-0.2697586091519874D1*t121
     #*t182
      t191 = 1/t111
      vsigmabb(i) = rhob*(0.1236778371778789D-1*t185*t140
     #+0.7937005259840997D0*t64*t23*t70-0.130605864926168D1*t65*t191
     #*t70)
      v2rhoa2(i) = 0.D0
      v2rhoab(i) = 0.D0
      t204 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t6
     #+0.2225569421150687D1*t3+0.8004286349993634D0*t9
     #+0.1897004325747559D0*t11))
      t215 = 1/t32
      t216 = 1/t11/t2*t215
      t218 = 1/t101
      t219 = t75*t218
      t223 = 1/t3/t2*t215
      t225 = t93*t218
      t236 = t154**2
      t253 = t32**2
      t260 = t32*t101
      t266 = 1/t21/t32
      t275 = t139**2
      t276 = t51**2
      t277 = 1/t276
      t282 = t106**2
      t283 = t35*t282
      t285 = dexp(0.5027578216020225D1*t18)
      t286 = t283*t285
      t290 = t113*t106*t27
      t294 = 0.1D-22*t219*t204
      t296 = 0.8806734334819047D-3*t216*t17
      t298 = 0.2642020300445714D-2*t219*t17
      t302 = 0.8497974591333914D-1*t77*t81*t96*t97
      t306 = t96**2
      t309 = 0.2D1*t5/t80/t13*t306*t97
      t329 = 0.1D1*t82*(-0.1544496508763151D1/t85/t2*t215
     #+0.3706791621031562D1*t86*t218-0.854388052766047D0*t216
     #+0.2563164158298141D1*t219-0.4111834438919023D0/t9/t2*t215
     #+0.1644733775567609D1*t90*t218-0.5346380647307093D-1*t223
     #+0.3207828388384256D0*t225)*t97
      t330 = t80**2
      t333 = t16**2
      t337 = 0.321646831778707D2*t5/t330*t306/t333
      t338 = -t294+t296-t298-t302-t309+t329+t337
      t340 = t35*t338*t27
      t343 = t283*t27
      t347 = 1/t33/t165
      t358 = t38/t119/t47
      t359 = t136**2
      t363 = t23*t282
      t380 = t42**2
      s1 = 0.7937005259840997D0*(0.1D-2*(-0.3207349893614542D1*t216
     #+0.9622049680843627D1*t219-0.6318986292200858D-3*t223
     #+0.3791391775320515D-2*t225)*t61-0.2D-2*t145*t149*t154+0.2D-2
     #*t56/t148/t60*t236-0.1D-2*t150*(-0.1202514962692326D1*t216
     #+0.3607544888076978D1*t219-0.4036488739909061D-1*t223
     #+0.2421893243945437D0*t225+0.3527987623518044D-1*t218))*sigmabb
     #*t71+0.1528291352075288D2*t64*t30*sigmabb/t33/t253/rhob*t70
     #-0.2902352553914844D2*t164/t260*t70+0.6173226313209665D1*t65
     #*t266*t70-0.3703935787925799D1*t158*t161+0.6965646129395627D1
     #*t157*t30*t167-0.1236778371778789D-1*t275*t277
      t399 = s1+0.1236778371778789D-1*(0.2697586091519874D1*
     #(0.7836071998691172D0*sigmabb*t266+0.3580200260842915D3*t131
     #*t286-0.2066359982982071D2*t44*t290+0.2213957124623647D1*t44
     #*t340-0.1790100130421458D3*t44*t343+0.7240949783240664D0*t31
     #*t347)*t48-0.5395172183039748D1*t116*t120*t136
     #+0.5395172183039748D1*t358*t359-0.2697586091519874D1*t121*
     #(0.35535663829313D4*t130*sigmabb*t363*t285-0.1025493943854243D3
     #*t122*t103*t106*t27+0.2197487022544806D2*t122*t23*t338*t27
     #-0.177678319146565D4*t122*t363*t27+0.2113847883581765D1*t39*t266
     #+0.2897369528551702D4/t380*t30*t286-0.1114836790033136D3*t131
     #*t290+0.1194467989321217D2*t131*t340-0.9657898428505673D3*t131
     #*t343+0.1953308542466386D1*t44*t347))*t140+t337+t329-t294+t296
     #-t298-t309-t302
      v2rhob2(i) = -0.1D-22*t77*t204+0.2642020300445714D-2*t78+0.2D1
     #*t99+0.2473556743557577D-1*t141+0.1587401051968199D1*t159
     #-0.3703935787925799D1*t162+0.6965646129395627D1*t168+rhob*t399
      v2sigmaaa2(i) = 0.D0
      v2sigmaaaab(i) = 0.D0
      v2sigmaaabb(i) = 0.D0
      v2sigmaab2(i) = 0.D0
      v2sigmaabbb(i) = 0.D0
      t407 = t182**2
      t416 = t185**2
      v2sigmabb2(i) = rhob*(0.1236778371778789D-1*
     #(0.1477292174974578D0*t29*t35*t48-0.5395172183039748D1*t175*t120
     #*t182+0.5395172183039748D1*t358*t407-0.3985122824322565D0*t121
     #*t43*t35)*t140-0.1236778371778789D-1*t416*t277
     #-0.261211729852336D1*t64*t191*t70+0.2149159713855873D1*t65/t33
     #/t260*t70)
      elseif(rhob.lt.tol) then
      rho = rhoa
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigma = sigmaaa
      t2 = 1/rhoa
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1274696188700087D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.1112037486309468D2*t6+0.3844746237447211D1*t3
     #+0.1644733775567609D1*t9+0.2405871291288192D0*t11
      t16 = 1.D0+0.321646831778707D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.3109D-1*t18
      t20 = rhoa**2
      t21 = rhoa**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513789108010112D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigmaaa**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.1007494971260294D0*sigmaaa*t23+0.2738174287780083D-1*t31
     #*t35
      t39 = t29*sigmaaa
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.2717804421747983D0*t39*t23+0.7386460874872889D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.1236778371778789D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigmaaa
      t70 = dexp(-0.1645530784602056D1/t33/t20*sigmaaa)
      t71 = t23*t70
      t73 = 0.7937005259840997D0*t65*t71
      zk(i) = rhoa*(-t19+t53+t73)
      t75 = 1/t11
      t76 = 1/t20
      t77 = t75*t76
      t78 = t77*t17
      t79 = 0.1321010150222857D-2*t78
      t80 = t13**2
      t81 = 1/t80
      t82 = t5*t81
      t83 = t6**2
      t84 = t83**2
      t85 = t84*t6
      t86 = 1/t85
      t90 = 1/t9
      t93 = 1/t3
      t94 = t93*t76
      t96 = -0.1853395810515781D1*t86*t76-0.128158207914907D1*t77
     #-0.8223668877838045D0*t90*t76-0.1603914194192128D0*t94
      t97 = 1/t16
      t99 = t82*t96*t97
      t100 = 0.1D1*t99
      t101 = t20*rhoa
      t103 = 1/t21/t101
      t106 = t79+t100
      t108 = t35*t106*t27
      t111 = t32*rhoa
      t113 = 1/t33/t111
      t116 = -0.2350821599607352D0*sigmaaa*t103+0.2213957124623647D1
     #*t44*t108-0.1277814667630705D0*t31*t113
      t119 = t47**2
      t120 = 1/t119
      t121 = t38*t120
      t122 = t43*sigmaaa
      t130 = 1/t42/t28
      t131 = t130*t30
      t136 = 0.2197487022544806D2*t122*t23*t106*t27
     #-0.6341543650745294D0*t39*t103+0.1194467989321217D2*t131*t108
     #-0.3447015074940681D0*t44*t113
      t139 = 0.2697586091519874D1*t116*t48-0.2697586091519874D1*t121
     #*t136
      t140 = 1/t51
      t141 = t139*t140
      t145 = -0.4811024840421814D1*t77-0.1895695887660258D-2*t94
      t148 = t60**2
      t149 = 1/t148
      t150 = t56*t149
      t154 = -0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76
      t157 = 0.1D-2*t145*t61-0.1D-2*t150*t154
      t158 = t157*sigmaaa
      t159 = t158*t71
      t161 = t103*t70
      t162 = t65*t161
      t164 = t64*t30
      t165 = t32*t20
      t167 = 1/t165*t70
      t168 = t164*t167
      vrhoa(i) = -t19+t53+t73+rhoa*(t79+t100+0.1236778371778789D-1
     #*t141+0.7937005259840997D0*t159-0.1851967893962899D1*t162
     #+0.3482823064697813D1*t168)
      vrhob(i) = 0.D0
      t175 = 0.1007494971260294D0*t23+0.5476348575560166D-1*t39*t35
      t182 = 0.2717804421747983D0*t29*t23+0.1477292174974578D0*t122*t35
      t185 = 0.2697586091519874D1*t175*t48-0.2697586091519874D1*t121
     #*t182
      t191 = 1/t111
      vsigmaaa(i) = rhoa*(0.1236778371778789D-1*t185*t140
     #+0.7937005259840997D0*t64*t23*t70-0.130605864926168D1*t65*t191
     #*t70)
      vsigmaab(i) = 0.D0
      vsigmabb(i) = 0.D0
      t204 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t6
     #+0.2225569421150687D1*t3+0.8004286349993634D0*t9
     #+0.1897004325747559D0*t11))
      t215 = 1/t32
      t216 = 1/t11/t2*t215
      t218 = 1/t101
      t219 = t75*t218
      t223 = 1/t3/t2*t215
      t225 = t93*t218
      t236 = t154**2
      t253 = t32**2
      t260 = t32*t101
      t266 = 1/t21/t32
      t275 = t139**2
      t276 = t51**2
      t277 = 1/t276
      t282 = t106**2
      t283 = t35*t282
      t285 = dexp(0.5027578216020225D1*t18)
      t286 = t283*t285
      t290 = t113*t106*t27
      t294 = 0.1D-22*t219*t204
      t296 = 0.8806734334819047D-3*t216*t17
      t298 = 0.2642020300445714D-2*t219*t17
      t302 = 0.8497974591333914D-1*t77*t81*t96*t97
      t306 = t96**2
      t309 = 0.2D1*t5/t80/t13*t306*t97
      t329 = 0.1D1*t82*(-0.1544496508763151D1/t85/t2*t215
     #+0.3706791621031562D1*t86*t218-0.854388052766047D0*t216
     #+0.2563164158298141D1*t219-0.4111834438919023D0/t9/t2*t215
     #+0.1644733775567609D1*t90*t218-0.5346380647307093D-1*t223
     #+0.3207828388384256D0*t225)*t97
      t330 = t80**2
      t333 = t16**2
      t337 = 0.321646831778707D2*t5/t330*t306/t333
      t338 = -t294+t296-t298-t302-t309+t329+t337
      t340 = t35*t338*t27
      t343 = t283*t27
      t347 = 1/t33/t165
      t358 = t38/t119/t47
      t359 = t136**2
      t363 = t23*t282
      t380 = t42**2
      s1 = 0.7937005259840997D0*(0.1D-2*(-0.3207349893614542D1*t216
     #+0.9622049680843627D1*t219-0.6318986292200858D-3*t223
     #+0.3791391775320515D-2*t225)*t61-0.2D-2*t145*t149*t154+0.2D-2
     #*t56/t148/t60*t236-0.1D-2*t150*(-0.1202514962692326D1*t216
     #+0.3607544888076978D1*t219-0.4036488739909061D-1*t223
     #+0.2421893243945437D0*t225+0.3527987623518044D-1*t218))*sigmaaa
     #*t71+0.1528291352075288D2*t64*t30*sigmaaa/t33/t253/rhoa*t70
     #-0.2902352553914844D2*t164/t260*t70+0.6173226313209665D1*t65
     #*t266*t70-0.3703935787925799D1*t158*t161+0.6965646129395627D1
     #*t157*t30*t167-0.1236778371778789D-1*t275*t277
      t399 = s1+0.1236778371778789D-1*(0.2697586091519874D1*
     #(0.7836071998691172D0*sigmaaa*t266+0.3580200260842915D3*t131
     #*t286-0.2066359982982071D2*t44*t290+0.2213957124623647D1*t44
     #*t340-0.1790100130421458D3*t44*t343+0.7240949783240664D0*t31
     #*t347)*t48-0.5395172183039748D1*t116*t120*t136
     #+0.5395172183039748D1*t358*t359-0.2697586091519874D1*t121*
     #(0.35535663829313D4*t130*sigmaaa*t363*t285-0.1025493943854243D3
     #*t122*t103*t106*t27+0.2197487022544806D2*t122*t23*t338*t27
     #-0.177678319146565D4*t122*t363*t27+0.2113847883581765D1*t39*t266
     #+0.2897369528551702D4/t380*t30*t286-0.1114836790033136D3*t131
     #*t290+0.1194467989321217D2*t131*t340-0.9657898428505673D3*t131
     #*t343+0.1953308542466386D1*t44*t347))*t140+t337+t329-t294+t296
     #-t298-t309-t302
      v2rhoa2(i) = -0.1D-22*t77*t204+0.2642020300445714D-2*t78+0.2D1
     #*t99+0.2473556743557577D-1*t141+0.1587401051968199D1*t159
     #-0.3703935787925799D1*t162+0.6965646129395627D1*t168+rhoa*t399
      v2rhob2(i) = 0.D0
      v2rhoab(i) = 0.D0
      t407 = t182**2
      t416 = t185**2
      v2sigmaaa2(i) = rhoa*(0.1236778371778789D-1*
     #(0.1477292174974578D0*t29*t35*t48-0.5395172183039748D1*t175*t120
     #*t182+0.5395172183039748D1*t358*t407-0.3985122824322565D0*t121
     #*t43*t35)*t140-0.1236778371778789D-1*t416*t277
     #-0.261211729852336D1*t64*t191*t70+0.2149159713855873D1*t65/t33
     #/t260*t70)
      v2sigmaaaab(i) = 0.D0
      v2sigmaaabb(i) = 0.D0
      v2sigmaab2(i) = 0.D0
      v2sigmaabbb(i) = 0.D0
      v2sigmabb2(i) = 0.D0
      else ! (.not.(rhoa.lt.tol).and..not.(rhob.lt.tol))
      sigmaaa = dmax1(0.D0,sigmaaa1(i))
      sigmaab = sigmaab1(i)
      sigmabb = dmax1(0.D0,sigmabb1(i))
      sigma = sigmaaa+sigmabb+2.D0*sigmaab
      t4 = 1/rho
      t5 = t4**(1.D0/3.D0)
      t7 = 1.D0+0.1325688999052018D0*t5
      t8 = t4**(1.D0/6.D0)
      t11 = dsqrt(t4)
      t13 = t5**2
      t15 = 0.598255043577108D1*t8+0.2225569421150687D1*t5
     #+0.8004286349993634D0*t11+0.1897004325747559D0*t13
      t18 = 1.D0+0.160818243221511D2/t15
      t19 = dlog(t18)
      t21 = 0.62182D-1*t7*t19
      t23 = 1.D0+0.6901399211255825D-1*t5
      t28 = 0.8157414703487641D1*t8+0.2247591863577616D1*t5
     #+0.4300972471276643D0*t11+0.1911512595127338D0*t13
      t31 = 1.D0+0.2960857464321668D2/t28
      t32 = dlog(t31)
      t33 = t23*t32
      t35 = rhoa-1.D0*rhob
      t36 = t35*t4
      t37 = 1.D0+t36
      t38 = t37**(1.D0/3.D0)
      t39 = t38*t37
      t41 = 1.D0-1.D0*t36
      t42 = t41**(1.D0/3.D0)
      t43 = t42*t41
      t44 = t39+t43-2.D0
      t45 = t35**2
      t46 = t45**2
      t47 = rho**2
      t48 = t47**2
      t49 = 1/t48
      t50 = t46*t49
      t52 = 1.D0-1.D0*t50
      t53 = t44*t52
      t55 = 0.3799574853701528D-1*t33*t53
      t57 = 1.D0+0.1274696188700087D0*t5
      t62 = 0.1112037486309468D2*t8+0.3844746237447211D1*t5
     #+0.1644733775567609D1*t11+0.2405871291288192D0*t13
      t65 = 1.D0+0.321646831778707D2/t62
      t66 = dlog(t65)
      t69 = -0.3109D-1*t57*t66+t21
      t70 = t69*t44
      t72 = 0.1923661050931536D1*t70*t50
      t73 = t38**2
      t75 = t42**2
      t77 = 0.5D0*t73+0.5D0*t75
      t78 = t77**2
      t79 = t78*t77
      t80 = 1/t78
      t81 = sigma*t80
      t82 = rho**(1.D0/3.D0)
      t84 = 1/t82/t47
      t87 = -t21+t55+t72
      t88 = 1/t79
      t89 = t87*t88
      t91 = dexp(-0.4042761511756372D2*t89)
      t92 = t91-1.D0
      t93 = 1/t92
      t94 = sigma**2
      t95 = t93*t94
      t96 = t78**2
      t97 = 1/t96
      t98 = t82**2
      t100 = 1/t98/t48
      t101 = t97*t100
      t104 = 0.634682060977037D-1*t81*t84+0.1086645186223595D-1*t95*t101
      t105 = t93*sigma
      t106 = t80*t84
      t109 = t92**2
      t110 = 1/t109
      t111 = t110*t94
      t114 = 1.D0+0.1712109500228824D0*t105*t106+0.2931318940773793D-1
     #*t111*t101
      t115 = 1/t114
      t118 = 1.D0+0.2697586091519874D1*t104*t115
      t119 = dlog(t118)
      t121 = 0.2473556743557577D-1*t79*t119
      t124 = 0.2568D1+0.1443307452126544D2*t5+0.2843543831490386D-2*t13
      t128 = 1.D0+0.5411317332115466D1*t5+0.1816419932959077D0*t13
     #+0.1763993811759022D-1*t4
      t129 = 1/t128
      t132 = 0.1D-2*t124*t129-0.1853571428571429D-2
      t133 = t132*t77
      t136 = 1/t98/t47
      t140 = dexp(-0.261211729852336D1*t78*t136*sigma)
      t141 = sigma*t84*t140
      t143 = 0.1D1*t133*t141
      zk(i) = rho*(-t21+t55+t72+t121+t143)
      t149 = 0.1333333333333333D1*t38*t4-0.1333333333333333D1*t42*t4
      t151 = t33*t149*t52
      t152 = 0.3799574853701528D-1*t151
      t153 = t45*t35
      t154 = t44*t153
      t156 = t33*t154*t49
      t157 = 0.1519829941480611D0*t156
      t158 = t69*t149
      t159 = t158*t50
      t160 = 0.1923661050931536D1*t159
      t161 = t153*t49
      t162 = t70*t161
      t163 = 0.7694644203726145D1*t162
      t164 = t78*t119
      t165 = 1/t38
      t168 = 1/t42
      t171 = 0.3333333333333333D0*t165*t4-0.3333333333333333D0*t168*t4
      t172 = t164*t171
      t173 = 0.7420670230672731D-1*t172
      t174 = sigma*t88
      t175 = t84*t171
      t178 = t111*t97
      t179 = t152-t157+t160+t163
      t182 = t87*t97
      t185 = -0.4042761511756372D2*t179*t88+0.1212828453526912D3*t182
     #*t171
      t186 = t100*t185
      t187 = t186*t91
      t190 = t96*t77
      t191 = 1/t190
      t192 = t191*t100
      t193 = t192*t171
      t196 = -0.1269364121954074D0*t174*t175-0.1086645186223595D-1
     #*t178*t187-0.4346580744894379D-1*t95*t193
      t199 = t114**2
      t200 = 1/t199
      t201 = t104*t200
      t202 = t110*sigma
      t203 = t202*t80
      t204 = t84*t185
      t205 = t204*t91
      t208 = t88*t84
      t209 = t208*t171
      t213 = 1/t109/t92
      t214 = t213*t94
      t215 = t214*t97
      t220 = -0.1712109500228824D0*t203*t205-0.3424219000457648D0*t105
     #*t209-0.5862637881547585D-1*t215*t187-0.1172527576309517D0*t111
     #*t193
      t223 = 0.2697586091519874D1*t196*t115-0.2697586091519874D1*t201
     #*t220
      t224 = t79*t223
      t225 = 1/t118
      t226 = t224*t225
      t227 = 0.2473556743557577D-1*t226
      t228 = t132*t171
      t229 = t228*t141
      t230 = 0.1D1*t229
      t232 = t132*t78*t94
      t233 = t48*rho
      t234 = 1/t233
      t236 = t234*t171*t140
      t237 = t232*t236
      t238 = 0.522423459704672D1*t237
      t241 = 1/t13
      t242 = 1/t47
      t243 = t241*t242
      t244 = t243*t19
      t245 = 0.2747799777968419D-2*t244
      t246 = t15**2
      t247 = 1/t246
      t248 = t7*t247
      t249 = t8**2
      t250 = t249**2
      t251 = t250*t8
      t252 = 1/t251
      t253 = t252*t242
      t256 = 1/t11
      t257 = t256*t242
      t259 = 1/t5
      t260 = t259*t242
      t262 = -0.99709173929518D0*t253-0.7418564737168958D0*t243
     #-0.4002143174996817D0*t257-0.1264669550498372D0*t260
      t263 = 1/t18
      t265 = t248*t262*t263
      t266 = 0.1D1*t265
      t267 = t32*t44
      t268 = t267*t52
      t269 = t243*t268
      t270 = 0.8740794299481065D-3*t269
      t271 = t28**2
      t272 = 1/t271
      t273 = t23*t272
      t278 = -0.135956911724794D1*t253-0.7491972878592054D0*t243
     #-0.2150486235638321D0*t257-0.1274341730084892D0*t260
      t279 = t273*t278
      t280 = 1/t31
      t281 = t280*t44
      t282 = t281*t52
      t283 = t279*t282
      t284 = 0.1124999956683108D1*t283
      t285 = t38*t35
      t288 = t42*t35
      t291 = -0.1333333333333333D1*t285*t242+0.1333333333333333D1*t288
     #*t242
      t293 = t33*t291*t52
      t294 = 0.3799574853701528D-1*t293
      t295 = t44*t46
      t297 = t33*t295*t234
      t298 = 0.1519829941480611D0*t297
      t301 = t62**2
      t302 = 1/t301
      t303 = t57*t302
      t308 = -0.1853395810515781D1*t253-0.128158207914907D1*t243
     #-0.8223668877838045D0*t257-0.1603914194192128D0*t260
      t309 = 1/t65
      t315 = 0.1321010150222857D-2*t243*t66+0.1D1*t303*t308*t309
     #-0.2747799777968419D-2*t244-0.1D1*t265
      t316 = t315*t44
      t317 = t316*t50
      t318 = 0.1923661050931536D1*t317
      t319 = t69*t291
      t320 = t319*t50
      t321 = 0.1923661050931536D1*t320
      t322 = t46*t234
      t323 = t70*t322
      t324 = 0.7694644203726145D1*t323
      t325 = t165*t35
      t328 = t168*t35
      t331 = -0.3333333333333333D0*t325*t242+0.3333333333333333D0*t328
     #*t242
      t332 = t164*t331
      t334 = t84*t331
      t337 = t47*rho
      t339 = 1/t82/t337
      t342 = t245+t266-t270-t284+t294+t298+t318+t321-t324
      t347 = -0.4042761511756372D2*t342*t88+0.1212828453526912D3*t182
     #*t331
      t348 = t100*t347
      t349 = t348*t91
      t352 = t192*t331
      t356 = 1/t98/t233
      t357 = t97*t356
      t360 = -0.1269364121954074D0*t174*t334-0.148092480894642D0*t81
     #*t339-0.1086645186223595D-1*t178*t349-0.4346580744894379D-1*t95
     #*t352-0.5071010869043442D-1*t95*t357
      t363 = t84*t347
      t364 = t363*t91
      t367 = t208*t331
      t370 = t80*t339
      t379 = -0.1712109500228824D0*t203*t364-0.3424219000457648D0*t105
     #*t367-0.3994922167200589D0*t105*t370-0.5862637881547585D-1*t215
     #*t349-0.1172527576309517D0*t111*t352-0.136794883902777D0*t111*t357
      t382 = 0.2697586091519874D1*t360*t115-0.2697586091519874D1*t201
     #*t379
      t383 = t79*t382
      t384 = t383*t225
      t388 = -0.4811024840421814D1*t243-0.1895695887660258D-2*t260
      t391 = t128**2
      t392 = 1/t391
      t393 = t124*t392
      t397 = -0.1803772444038489D1*t243-0.1210946621972718D0*t260
     #-0.1763993811759022D-1*t242
      t400 = 0.1D-2*t388*t129-0.1D-2*t393*t397
      t401 = t400*t77
      t402 = t401*t141
      t404 = t132*t331
      t405 = t404*t141
      t408 = sigma*t339*t140
      t409 = t133*t408
      t411 = t133*sigma
      t412 = t77*t136
      t413 = sigma*t331
      t417 = 1/t98/t337
      t418 = t78*t417
      t421 = -0.522423459704672D1*t412*t413+0.6965646129395627D1*t418
     #*sigma
      t423 = t84*t421*t140
      t424 = t411*t423
      t426 = t245+t266-t270-t284+t294+t298+t318+t321-t324
     #+0.7420670230672731D-1*t332+0.2473556743557577D-1*t384+0.1D1
     #*t402+0.1D1*t405-0.2333333333333333D1*t409+0.1D1*t424
      t427 = rho*t426
      vrhoa(i) = rho*(t152-t157+t160+t163+t173+t227+t230-t238)-t21+t55
     #+t72+t121+t143+t427
      t428 = -t149
      t430 = t33*t428*t52
      t431 = 0.3799574853701528D-1*t430
      t432 = 0.1519829941480611D0*t156
      t433 = t69*t428
      t434 = t433*t50
      t435 = 0.1923661050931536D1*t434
      t436 = 0.7694644203726145D1*t162
      t437 = -t171
      t438 = t164*t437
      t439 = 0.7420670230672731D-1*t438
      t440 = t84*t437
      t443 = t431+t432+t435-t436
      t448 = -0.4042761511756372D2*t443*t88+0.1212828453526912D3*t182
     #*t437
      t449 = t100*t448
      t450 = t449*t91
      t453 = t192*t437
      t456 = -0.1269364121954074D0*t174*t440-0.1086645186223595D-1
     #*t178*t450-0.4346580744894379D-1*t95*t453
      t459 = t84*t448
      t460 = t459*t91
      t463 = t208*t437
      t470 = -0.1712109500228824D0*t203*t460-0.3424219000457648D0*t105
     #*t463-0.5862637881547585D-1*t215*t450-0.1172527576309517D0*t111
     #*t453
      t473 = 0.2697586091519874D1*t456*t115-0.2697586091519874D1*t201
     #*t470
      t474 = t79*t473
      t475 = t474*t225
      t476 = 0.2473556743557577D-1*t475
      t477 = t132*t437
      t478 = t477*t141
      t479 = 0.1D1*t478
      t481 = t234*t437*t140
      t482 = t232*t481
      t483 = 0.522423459704672D1*t482
      vrhob(i) = rho*(t431+t432+t435-t436+t439+t476+t479-t483)-t21+t55
     #+t72+t121+t143+t427
      t489 = 0.634682060977037D-1*t106+0.2173290372447189D-1*t105*t101
      t492 = t93*t80
      t497 = 0.1712109500228824D0*t492*t84+0.5862637881547585D-1*t202
     #*t101
      t500 = 0.2697586091519874D1*t489*t115-0.2697586091519874D1*t201
     #*t497
      t502 = t79*t500*t225
      t503 = 0.2473556743557577D-1*t502
      t504 = t84*t140
      t505 = t133*t504
      t506 = 0.1D1*t505
      t507 = t132*t79
      t509 = sigma*t234*t140
      t510 = t507*t509
      t511 = 0.261211729852336D1*t510
      vsigmaaa(i) = rho*(t503+t506-t511)
      vsigmaab(i) = 2.D0*vsigmaaa(i)
      vsigmabb(i) = vsigmaaa(i)
      t516 = 0.2D1*t265
      t517 = 0.7599149707403056D-1*t293
      t520 = 1/t73
      t523 = 1/t75
      t526 = 0.4444444444444444D0*t520*t242+0.4444444444444444D0*t523
     #*t242
      t529 = 0.3799574853701528D-1*t33*t526*t52
      t532 = t33*t149*t153*t49
      t533 = 0.3039659882961223D0*t532
      t536 = t33*t44*t45*t49
      t537 = 0.4559489824441834D0*t536
      t540 = 0.1923661050931536D1*t69*t526*t50
      t541 = t158*t161
      t542 = 0.1538928840745229D2*t541
      t544 = t70*t45*t49
      t545 = 0.2308393261117844D2*t544
      t546 = t77*t119
      t547 = t171**2
      t550 = t78*t223
      t551 = t225*t171
      t554 = 1/t39
      t557 = 1/t43
      t560 = -0.1111111111111111D0*t554*t242-0.1111111111111111D0*t557
     #*t242
      t562 = 0.7420670230672731D-1*t164*t560
      t563 = sigma*t97
      t569 = 0.1269364121954074D0*t174*t84*t560
      t570 = t185**2
      t571 = t100*t570
      t573 = dexp(-0.8085523023512745D2*t89)
      t574 = t571*t573
      t577 = t111*t191
      t578 = t91*t171
      t579 = t186*t578
      t585 = t179*t97
      t588 = t87*t191
      t592 = 0.1212828453526912D3*t182*t560
      t593 = -0.4042761511756372D2*(t529-t533-t537+t540+t542+t545)*t88
     #+0.2425656907053823D3*t585*t171-0.4851313814107647D3*t588*t547
     #+t592
      t595 = t100*t593*t91
      t598 = t571*t91
      t602 = 1/t96/t78
      t603 = t602*t100
      t604 = t603*t547
      t607 = t192*t560
      t609 = 0.4346580744894379D-1*t95*t607
      t613 = t196*t200
      t618 = t104/t199/t114
      t619 = t220**2
      t622 = t213*sigma
      t623 = t622*t80
      t624 = t84*t570
      t628 = t202*t88
      t639 = t97*t84
      t645 = 0.3424219000457648D0*t105*t208*t560
      t646 = t109**2
      t649 = 1/t646*t94*t97
      t652 = t214*t191
      t662 = 0.1172527576309517D0*t111*t607
      t663 = 0.3424219000457648D0*t623*t624*t573+0.6848438000915295D0
     #*t628*t204*t578-0.1712109500228824D0*t203*t84*t593*t91
     #-0.1712109500228824D0*t203*t624*t91+0.1027265700137294D1*t105
     #*t639*t547-t645+0.1758791364464276D0*t649*t574
     #+0.4690110305238068D0*t652*t579-0.5862637881547585D-1*t215*t595
     #-0.5862637881547585D-1*t215*t598+0.5862637881547585D0*t111*t604
     #-t662
      t670 = t223**2
      t672 = t118**2
      t673 = 1/t672
      t678 = 0.1D1*t132*t560*t141
      t681 = t234*t77
      t682 = t681*t140
      t688 = 0.522423459704672D1*t232*t234*t560*t140
      t690 = t507*t94*sigma
      t691 = t48*t337
      t693 = 1/t98/t691
      t698 = t529-t533-t537+t540+t542+t545+0.1484134046134546D0*t546
     #*t547+0.1484134046134546D0*t550*t551+t562+0.2473556743557577D-1
     #*t79*(0.2697586091519874D1*(0.3808092365862222D0*t563*t84*t547
     #-t569+0.2173290372447189D-1*t215*t574+0.8693161489788758D-1*t577
     #*t579-0.1086645186223595D-1*t178*t595-0.1086645186223595D-1*t178
     #*t598+0.2173290372447189D0*t95*t604-t609)*t115
     #-0.5395172183039748D1*t613*t220+0.5395172183039748D1*t618*t619
     #-0.2697586091519874D1*t201*t663)*t225-0.2473556743557577D-1*t79
     #*t670*t673+t678-0.1567270379114016D2*t132*t547*t94*t682-t688
     #+0.272926271249799D2*t690*t693*t547*t140
      t701 = 0.5495599555936838D-2*t244
      t702 = 0.1484134046134546D0*t332
      t705 = 0.7599149707403056D-1*t151+0.3847322101863073D1*t159
     #+0.1538928840745229D2*t162+t516+t517+0.1484134046134546D0*t172
     #-0.3039659882961223D0*t156+rho*t698+0.4947113487115154D-1*t226
     #+t701+t702+0.2D1*t229-0.1044846919409344D2*t237
      t706 = 0.3039659882961223D0*t297
      t707 = 0.3847322101863073D1*t317
      t708 = 0.3847322101863073D1*t320
      t709 = 0.1748158859896213D-2*t269
      t710 = 0.2249999913366216D1*t283
      t711 = 0.1538928840745229D2*t323
      t712 = 0.4947113487115154D-1*t384
      t713 = 0.4666666666666667D1*t409
      t714 = 0.2D1*t424
      t715 = 0.2D1*t405
      t716 = 0.2D1*t402
      t717 = t78*t382
      t718 = t225*t331
      t724 = t278**2
      t727 = 0.2249999913366216D1*t23/t271/t28*t724*t282
      t728 = t382**2
      t738 = 1/t82/t48
      t743 = t421**2
      t752 = t331**2
      t756 = t77*t417
      t762 = 1/t337
      t770 = -0.1111111111111111D0*t554*t45*t49+0.6666666666666667D0
     #*t325*t762-0.1111111111111111D0*t557*t45*t49
     #-0.6666666666666667D0*t328*t762
      t782 = t404*sigma
      t792 = 1/t13/t4*t49
      t794 = t241*t762
      t798 = 1/t5/t4*t49
      t800 = t259*t762
      t811 = t397**2
      t841 = t356*t347*t91
      t844 = t91*t331
      t845 = t348*t844
      t851 = t262**2
      t853 = t7/t246/t15*t851*t263
      t854 = 0.2D1*t853
      t857 = 1/t251/t4*t49
      t859 = t252*t762
      t865 = 1/t11/t4*t49
      t867 = t256*t762
      t873 = t248*(-0.8309097827459833D0*t857+0.199418347859036D1*t859
     #-0.4945709824779306D0*t792+0.1483712947433792D1*t794
     #-0.2001071587498409D0*t865+0.8004286349993634D0*t867
     #-0.4215565168327908D-1*t798+0.2529339100996745D0*t800)*t263
      t874 = 0.1D1*t873
      t875 = t246**2
      t878 = t18**2
      t881 = t7/t875*t851/t878
      t882 = 0.160818243221511D2*t881
      t894 = t308**2
      t910 = t301**2
      t913 = t65**2
      t918 = t792*t19
      t920 = t794*t19
      t924 = t243*t247*t262*t263
      t929 = 0.8806734334819047D-3*t792*t66-0.2642020300445714D-2*t794
     #*t66-0.8497974591333914D-1*t243*t302*t308*t309-0.2D1*t57/t301
     #/t62*t894*t309+0.1D1*t303*(-0.1544496508763151D1*t857
     #+0.3706791621031562D1*t859-0.854388052766047D0*t792
     #+0.2563164158298141D1*t794-0.4111834438919023D0*t865
     #+0.1644733775567609D1*t867-0.5346380647307093D-1*t798
     #+0.3207828388384256D0*t800)*t309+0.321646831778707D2*t57/t910
     #*t894/t913-0.1831866518645613D-2*t918+0.5495599555936838D-2*t920
     #+0.8837926660346786D-1*t924+0.2D1*t853-0.1D1*t873
     #-0.160818243221511D2*t881
      t932 = 0.1923661050931536D1*t929*t44*t50
      t943 = 0.4444444444444444D0*t520*t45*t49+0.2666666666666667D1
     #*t285*t762+0.4444444444444444D0*t523*t45*t49
     #-0.2666666666666667D1*t288*t762
      t946 = 0.3799574853701528D-1*t33*t943*t52
      t947 = 0.8837926660346786D-1*t924
      t948 = t271**2
      t952 = t31**2
      t957 = 0.3330964519106732D2*t23/t948*t724/t952*t44*t52
      t969 = 0.1124999956683108D1*t273*(-0.1132974264373283D1*t857
     #+0.271913823449588D1*t859-0.4994648585728036D0*t792
     #+0.1498394575718411D1*t794-0.1075243117819161D0*t865
     #+0.4300972471276643D0*t867-0.4247805766949639D-1*t798
     #+0.2548683460169784D0*t800)*t282
      t970 = 0.1831866518645613D-2*t918
      t972 = 0.1748158859896213D-2*t794*t268
      t976 = 0.2249999913366216D1*t279*t280*t291*t52
      t977 = t727-t854+t874+t882+t932+t946-t947-t957-t969+t970+t972-t976
      t978 = 0.5495599555936838D-2*t920
      t982 = 0.3039659882961223D0*t33*t291*t46*t234
      t985 = 0.8999999653464862D1*t279*t281*t322
      t986 = t48*t47
      t987 = 1/t986
      t990 = 0.3847322101863073D2*t70*t46*t987
      t992 = 0.1538928840745229D2*t319*t322
      t995 = 0.3847322101863073D1*t315*t291*t50
      t997 = 0.1538928840745229D2*t316*t322
      t1000 = 0.1923661050931536D1*t69*t943*t50
      t1003 = 0.7599149707403056D0*t33*t295*t987
      t1007 = 0.1748158859896213D-2*t243*t32*t291*t52
      t1009 = 0.5827196199654043D-3*t792*t268
      t1014 = 0.5176049209143758D-1*t243*t272*t278*t280*t53
      t1019 = 0.6992635439584852D-2*t241/t691*t267*t46
      t1020 = -t978+t982-t985+t990-t992+t995-t997+t1000-t1003-t1007
     #-t1009+t1014-t1019
      t1024 = t342*t97
      t1031 = -0.4042761511756372D2*(t977+t1020)*t88
     #+0.2425656907053823D3*t1024*t331-0.4851313814107647D3*t588*t752
     #+0.1212828453526912D3*t182*t770
      t1033 = t100*t1031*t91
      t1036 = t347**2
      t1037 = t100*t1036
      t1038 = t1037*t573
      t1041 = t1037*t91
      t1046 = t97/t98/t986
      t1049 = t603*t752
      t1052 = t191*t356
      t1053 = t1052*t331
      t1056 = t192*t770
      t1059 = 0.3808092365862222D0*t563*t84*t752+0.5923699235785679D0
     #*t174*t339*t331-0.1269364121954074D0*t174*t84*t770
     #+0.4936416029821399D0*t81*t738+0.1014202173808688D0*t178*t841
     #+0.8693161489788758D-1*t577*t845-0.1086645186223595D-1*t178
     #*t1033+0.2173290372447189D-1*t215*t1038-0.1086645186223595D-1
     #*t178*t1041+0.2873572825791284D0*t95*t1046+0.2173290372447189D0
     #*t95*t1049+0.4056808695234754D0*t95*t1053-0.4346580744894379D-1
     #*t95*t1056
      t1062 = t360*t200
      t1065 = t379**2
      t1085 = t84*t1036
      t1100 = t88*t339
      t1117 = -0.5862637881547585D-1*t215*t1041+0.6848438000915295D0
     #*t628*t363*t844+0.7989844334401178D0*t203*t339*t347*t91
     #+0.4690110305238068D0*t652*t845-0.1712109500228824D0*t203*t84
     #*t1031*t91-0.5862637881547585D-1*t215*t1033+0.3424219000457648D0
     #*t623*t1085*t573+0.1331640722400196D1*t105*t80*t738
     #-0.1712109500228824D0*t203*t1085*t91+0.547179535611108D0*t215
     #*t841+0.1027265700137294D1*t105*t639*t752+0.1597968866880236D1
     #*t105*t1100*t331-0.3424219000457648D0*t105*t208*t770
     #+0.1758791364464276D0*t649*t1038+0.7751710087824029D0*t111*t1046
     #+0.5862637881547585D0*t111*t1049+0.1094359071222216D1*t111*t1053
     #-0.1172527576309517D0*t111*t1056
      s1 = 0.1484134046134546D0*t717*t718+t727-0.2473556743557577D-1
     #*t79*t728*t673-0.4666666666666667D1*t401*t408+0.2D1*t400*t331
     #*t141+0.7777777777777778D1*t133*sigma*t738*t140+0.1D1*t411*t84
     #*t743*t140-0.4666666666666667D1*t411*t339*t421*t140+0.1D1*t411
     #*t84*(-0.522423459704672D1*t752*t136*sigma+0.2786258451758251D2
     #*t756*t413-0.522423459704672D1*t412*sigma*t770
     #-0.2554070247445063D2*t78*t100*sigma)*t140+0.2D1*t782*t423
      t1126 = s1-0.4666666666666667D1*t404*t408+0.2D1*t401*sigma*t423
     #+0.1D1*(0.1D-2*(-0.3207349893614542D1*t792+0.9622049680843627D1
     #*t794-0.6318986292200858D-3*t798+0.3791391775320515D-2*t800)
     #*t129-0.2D-2*t388*t392*t397+0.2D-2*t124/t391/t128*t811-0.1D-2
     #*t393*(-0.1202514962692326D1*t792+0.3607544888076978D1*t794
     #-0.4036488739909061D-1*t798+0.2421893243945437D0*t800
     #+0.3527987623518044D-1*t762))*t77*t141+0.1D1*t132*t770*t141
     #+0.2473556743557577D-1*t79*(0.2697586091519874D1*t1059*t115
     #-0.5395172183039748D1*t1062*t379+0.5395172183039748D1*t618*t1065
     #-0.2697586091519874D1*t201*t1117)*t225+0.1484134046134546D0*t546
     #*t752-t854+t874+t882+t932
      t1130 = -t985+t990-t992+t995-t997+t1000-t1003-t1007-t1009+t1014
     #-t1019
      t1133 = rho*(t1126+t946-t947-t957+0.7420670230672731D-1*t164
     #*t770-t969+t970+t972-t976-t978+t982+t1130)
      t1137 = 0.1519829941480611D0*t33*t149*t46*t234
      t1139 = t33*t154*t234
      t1140 = 0.6079319765922445D0*t1139
      t1151 = -0.4444444444444444D0*t520*t35*t762-0.1333333333333333D1
     #*t38*t242-0.4444444444444444D0*t523*t35*t762
     #+0.1333333333333333D1*t42*t242
      t1154 = 0.3799574853701528D-1*t33*t1151*t52
      t1157 = 0.1923661050931536D1*t315*t149*t50
      t1158 = t316*t161
      t1159 = 0.7694644203726145D1*t1158
      t1162 = 0.1923661050931536D1*t69*t1151*t50
      t1164 = t70*t153*t234
      t1165 = 0.3077857681490458D2*t1164
      t1169 = 0.8740794299481065D-3*t243*t32*t149*t52
      t1172 = t241*t987*t267*t153
      t1173 = 0.3496317719792426D-2*t1172
      t1175 = t279*t281*t161
      t1176 = 0.4499999826732431D1*t1175
      t1180 = 0.1124999956683108D1*t279*t280*t149*t52
      t1183 = t33*t291*t153*t49
      t1184 = 0.1519829941480611D0*t1183
      t1186 = 0.7694644203726145D1*t158*t322
      t1189 = t1137+t1140+t1154+t1157+t1159+t1162-t1165-t1169+t1173
     #+t1176-t1180-t1184-t1186+0.7420670230672731D-1*t717*t551
      t1200 = 0.1111111111111111D0*t554*t35*t762-0.3333333333333333D0
     #*t165*t242+0.1111111111111111D0*t557*t35*t762
     #+0.3333333333333333D0*t168*t242
      t1202 = 0.7420670230672731D-1*t164*t1200
      t1204 = 0.7420670230672731D-1*t550*t718
      t1205 = t319*t161
      t1206 = 0.7694644203726145D1*t1205
      t1207 = t331*t171
      t1209 = 0.1484134046134546D0*t546*t1207
      t1212 = 0.2473556743557577D-1*t383*t673*t223
      t1229 = 0.1D1*t400*t171*t141
      t1231 = 0.2333333333333333D1*t228*t408
      t1234 = 0.1D1*t132*t1200*t141
      t1235 = t404*t94
      t1236 = t171*t140
      t1238 = t1235*t681*t1236
      t1242 = t232*t987*t171*t140
      t1245 = t400*t78*t94
      t1247 = 0.522423459704672D1*t1245*t236
      t1248 = t228*sigma
      t1250 = 0.1D1*t1248*t423
      t1251 = t234*t421
      t1254 = 0.522423459704672D1*t232*t1251*t1236
      t1255 = t334*t171
      t1264 = t573*t185
      t1265 = t348*t1264
      t1268 = t348*t578
      t1271 = -t1169+t1173-t1180+t1176+t1154-t1184+t1137+t1140+t1157
     #+t1159+t1162+t1206-t1186-t1165
      t1282 = -0.4042761511756372D2*t1271*t88+0.1212828453526912D3
     #*t1024*t171+0.1212828453526912D3*t585*t331-0.4851313814107647D3
     #*t588*t1207+0.1212828453526912D3*t182*t1200
      t1284 = t100*t1282*t91
      t1287 = t185*t91
      t1288 = t348*t1287
      t1291 = t100*t331
      t1292 = t1291*t1287
      t1295 = t95*t602
      t1296 = t1291*t171
      t1299 = t192*t1200
      t1303 = t356*t185*t91
      t1306 = t1052*t171
      t1309 = 0.3808092365862222D0*t563*t1255-0.1269364121954074D0
     #*t174*t84*t1200+0.296184961789284D0*t174*t339*t171
     #+0.2173290372447189D-1*t215*t1265+0.4346580744894379D-1*t577
     #*t1268-0.1086645186223595D-1*t178*t1284-0.1086645186223595D-1
     #*t178*t1288+0.4346580744894379D-1*t577*t1292
     #+0.2173290372447189D0*t1295*t1296-0.4346580744894379D-1*t95
     #*t1299+0.5071010869043442D-1*t178*t1303+0.2028404347617377D0*t95
     #*t1306
      t1335 = t105*t97
      t1358 = t111*t602
      t1367 = 0.3424219000457648D0*t623*t363*t1264
     #+0.3424219000457648D0*t628*t363*t578-0.1712109500228824D0*t203
     #*t84*t1282*t91-0.1712109500228824D0*t203*t363*t1287
     #+0.3424219000457648D0*t628*t334*t1287+0.1027265700137294D1*t1335
     #*t1255-0.3424219000457648D0*t105*t208*t1200+0.3994922167200589D0
     #*t203*t339*t185*t91+0.7989844334401178D0*t105*t1100*t171
     #+0.1758791364464276D0*t649*t1265+0.2345055152619034D0*t652*t1268
     #-0.5862637881547585D-1*t215*t1284-0.5862637881547585D-1*t215
     #*t1288+0.2345055152619034D0*t652*t1292+0.5862637881547585D0
     #*t1358*t1296-0.1172527576309517D0*t111*t1299+0.273589767805554D0
     #*t215*t1303+0.547179535611108D0*t111*t1306
      t1373 = 0.2473556743557577D-1*t79*(0.2697586091519874D1*t1309
     #*t115-0.2697586091519874D1*t1062*t220-0.2697586091519874D1*t613
     #*t379+0.5395172183039748D1*t618*t379*t220-0.2697586091519874D1
     #*t201*t1367)*t225
      t1374 = t1202+t1204+t1206+t1209-t1212+0.1D1*t411*t84*(
     #-0.522423459704672D1*t171*t136*t413-0.522423459704672D1*t412
     #*sigma*t1200+0.1393129225879125D2*t756*sigma*t171)*t140+t1229
     #-t1231+t1234-0.522423459704672D1*t1238+0.1218988072644235D2
     #*t1242-t1247+t1250-t1254+t1373
      t1376 = rho*(t1189+t1374)
      t1383 = t1202+t1204+t1206+t1209-t1212+t1229-t1231+t1234
     #-0.1044846919409344D2*t1238+0.261211729852336D2*t1242-t1247
     #+t1250-t1254-0.522423459704672D1*t232*t234*t1200*t140+t1373
      t1385 = rho*(t1189+t1383)
      t1386 = t706+t707+t708-t709-t710-t711+t712-t713+t714+t715+t716
     #+t1133+t1376+t1385
      v2rhoa2(i) = t705+t1386
      t1392 = -0.1538928840745229D2*t162+t516+t517
     #+0.4947113487115154D-1*t475+0.3039659882961223D0*t156+0.2D1*t478
     #-0.1044846919409344D2*t482+t701+t702+t706+t707+t708-t709
      t1394 = t225*t437
      t1396 = 0.7420670230672731D-1*t717*t1394
      t1397 = 0.6079319765922445D0*t1139
      t1398 = 0.7694644203726145D1*t1158
      t1399 = 0.3077857681490458D2*t1164
      t1400 = t673*t473
      t1402 = 0.2473556743557577D-1*t383*t1400
      t1403 = 0.3496317719792426D-2*t1172
      t1404 = 0.4499999826732431D1*t1175
      t1405 = 0.1519829941480611D0*t1183
      t1406 = -t1200
      t1412 = 0.7420670230672731D-1*t164*t1406
      t1415 = t232*t987*t437*t140
      t1418 = 0.2333333333333333D1*t477*t408
      t1419 = t437*t140
      t1420 = t681*t1419
      t1421 = t1235*t1420
      t1423 = t477*sigma
      t1425 = 0.1D1*t1423*t423
      t1426 = t1396-t1397-t1398+t1399-t1402-t1403-t1404+t1405
     #-0.522423459704672D1*t232*t234*t1406*t140+t1412
     #+0.261211729852336D2*t1415-t1418-0.1044846919409344D2*t1421+t1425
      t1430 = 0.7694644203726145D1*t1205
      t1433 = t334*t437
      t1442 = t573*t448
      t1443 = t348*t1442
      t1446 = t91*t437
      t1447 = t348*t1446
      t1453 = 0.8740794299481065D-3*t243*t32*t428*t52
      t1457 = 0.1124999956683108D1*t279*t280*t428*t52
      t1458 = -t1151
      t1461 = 0.3799574853701528D-1*t33*t1458*t52
      t1465 = 0.1519829941480611D0*t33*t428*t46*t234
      t1468 = 0.1923661050931536D1*t315*t428*t50
      t1471 = 0.1923661050931536D1*t69*t1458*t50
      t1473 = 0.7694644203726145D1*t433*t322
      t1474 = -t1453-t1403-t1457-t1404+t1461+t1405+t1465-t1397+t1468
     #-t1398+t1471-t1430-t1473+t1399
      t1479 = t443*t97
      t1482 = t331*t437
      t1487 = -0.4042761511756372D2*t1474*t88+0.1212828453526912D3
     #*t1024*t437+0.1212828453526912D3*t1479*t331-0.4851313814107647D3
     #*t588*t1482+0.1212828453526912D3*t182*t1406
      t1489 = t100*t1487*t91
      t1492 = t448*t91
      t1493 = t348*t1492
      t1496 = t1291*t1492
      t1499 = t1291*t437
      t1502 = t192*t1406
      t1506 = t356*t448*t91
      t1509 = t1052*t437
      t1512 = 0.3808092365862222D0*t563*t1433-0.1269364121954074D0
     #*t174*t84*t1406+0.296184961789284D0*t174*t339*t437
     #+0.2173290372447189D-1*t215*t1443+0.4346580744894379D-1*t577
     #*t1447-0.1086645186223595D-1*t178*t1489-0.1086645186223595D-1
     #*t178*t1493+0.4346580744894379D-1*t577*t1496
     #+0.2173290372447189D0*t1295*t1499-0.4346580744894379D-1*t95
     #*t1502+0.5071010869043442D-1*t178*t1506+0.2028404347617377D0*t95
     #*t1509
      t1517 = t456*t200
      t1569 = 0.3424219000457648D0*t623*t363*t1442
     #+0.3424219000457648D0*t628*t363*t1446-0.1712109500228824D0*t203
     #*t84*t1487*t91-0.1712109500228824D0*t203*t363*t1492
     #+0.3424219000457648D0*t628*t334*t1492+0.1027265700137294D1*t1335
     #*t1433-0.3424219000457648D0*t105*t208*t1406+0.3994922167200589D0
     #*t203*t339*t448*t91+0.7989844334401178D0*t105*t1100*t437
     #+0.1758791364464276D0*t649*t1443+0.2345055152619034D0*t652*t1447
     #-0.5862637881547585D-1*t215*t1489-0.5862637881547585D-1*t215
     #*t1493+0.2345055152619034D0*t652*t1496+0.5862637881547585D0
     #*t1358*t1499-0.1172527576309517D0*t111*t1502+0.273589767805554D0
     #*t215*t1506+0.547179535611108D0*t111*t1509
      t1578 = t78*t473
      t1587 = 0.1D1*t132*t1406*t141-t1430-0.522423459704672D1*t1245
     #*t481+0.2473556743557577D-1*t79*(0.2697586091519874D1*t1512*t115
     #-0.2697586091519874D1*t1062*t470-0.2697586091519874D1*t1517*t379
     #+0.5395172183039748D1*t618*t379*t470-0.2697586091519874D1*t201
     #*t1569)*t225+0.1484134046134546D0*t546*t1482
     #+0.7420670230672731D-1*t1578*t718-0.522423459704672D1*t232*t1251
     #*t1419+t1461+t1468+t1471-t1473+0.1D1*t400*t437*t141-t1453-t1457
     #+t1465
      t1589 = rho*(t1426+t1587)
      t1608 = t1396-t1397-t1398+t1399-t1402-t1403-t1404+t1405+t1412
     #+0.1218988072644235D2*t1415-t1418-0.522423459704672D1*t1421
     #+0.1D1*t411*t84*(-0.522423459704672D1*t437*t136*t413
     #-0.522423459704672D1*t412*sigma*t1406+0.1393129225879125D2*t756
     #*sigma*t437)*t140+t1425
      t1610 = rho*(t1608+t1587)
      t1613 = t33*t428*t153*t49
      t1614 = 0.3039659882961223D0*t1613
      t1615 = t433*t161
      t1616 = 0.1538928840745229D2*t1615
      t1617 = t437**2
      t1625 = t448**2
      t1626 = t100*t1625
      t1627 = t1626*t573
      t1630 = t449*t1446
      t1640 = -0.4042761511756372D2*(t529+t1614-t537+t540-t1616+t545)
     #*t88+0.2425656907053823D3*t1479*t437-0.4851313814107647D3*t588
     #*t1617+t592
      t1642 = t100*t1640*t91
      t1645 = t1626*t91
      t1648 = t603*t1617
      t1656 = t470**2
      t1659 = t84*t1625
      t1686 = 0.3424219000457648D0*t623*t1659*t573
     #+0.6848438000915295D0*t628*t459*t1446-0.1712109500228824D0*t203
     #*t84*t1640*t91-0.1712109500228824D0*t203*t1659*t91
     #+0.1027265700137294D1*t105*t639*t1617-t645+0.1758791364464276D0
     #*t649*t1627+0.4690110305238068D0*t652*t1630
     #-0.5862637881547585D-1*t215*t1642-0.5862637881547585D-1*t215
     #*t1645+0.5862637881547585D0*t111*t1648-t662
      t1693 = t473**2
      t1705 = t529+t1614-t537+t540-t1616+t545+0.1484134046134546D0
     #*t546*t1617+0.1484134046134546D0*t1578*t1394+t562
     #+0.2473556743557577D-1*t79*(0.2697586091519874D1*
     #(0.3808092365862222D0*t563*t84*t1617-t569+0.2173290372447189D-1
     #*t215*t1627+0.8693161489788758D-1*t577*t1630
     #-0.1086645186223595D-1*t178*t1642-0.1086645186223595D-1*t178
     #*t1645+0.2173290372447189D0*t95*t1648-t609)*t115
     #-0.5395172183039748D1*t1517*t470+0.5395172183039748D1*t618*t1656
     #-0.2697586091519874D1*t201*t1686)*t225-0.2473556743557577D-1*t79
     #*t1693*t673+t678-0.1567270379114016D2*t132*t1617*t94*t682-t688
     #+0.272926271249799D2*t690*t693*t1617*t140
      t1707 = -t710-t711+t712+0.1484134046134546D0*t438+t1589-t713
     #+0.7599149707403056D-1*t430+0.3847322101863073D1*t434+t714+t715
     #+t716+t1610+t1133+rho*t1705
      v2rhob2(i) = t1392+t1707
      t1708 = -t526
      t1711 = 0.3799574853701528D-1*t33*t1708*t52
      t1712 = 0.1519829941480611D0*t532
      t1713 = 0.1519829941480611D0*t1613
      t1714 = 0.4559489824441834D0*t536
      t1717 = 0.1923661050931536D1*t69*t1708*t50
      t1718 = 0.7694644203726145D1*t541
      t1719 = 0.7694644203726145D1*t1615
      t1720 = 0.2308393261117844D2*t544
      t1721 = t171*t437
      t1726 = -t560
      t1731 = t175*t437
      t1737 = t186*t1442
      t1740 = t186*t1446
      t1754 = -0.4042761511756372D2*(t1711+t1712-t1713+t1714+t1717
     #-t1718+t1719-t1720)*t88+0.1212828453526912D3*t585*t437
     #+0.1212828453526912D3*t1479*t171-0.4851313814107647D3*t588*t1721
     #+0.1212828453526912D3*t182*t1726
      t1756 = t100*t1754*t91
      t1759 = t186*t1492
      t1762 = t100*t171
      t1763 = t1762*t1492
      t1766 = t1762*t437
      t1769 = t192*t1726
      t1817 = 0.3424219000457648D0*t623*t204*t1442
     #+0.3424219000457648D0*t628*t204*t1446-0.1712109500228824D0*t203
     #*t84*t1754*t91-0.1712109500228824D0*t203*t204*t1492
     #+0.3424219000457648D0*t628*t175*t1492+0.1027265700137294D1*t1335
     #*t1731-0.3424219000457648D0*t105*t208*t1726+0.1758791364464276D0
     #*t649*t1737+0.2345055152619034D0*t652*t1740
     #-0.5862637881547585D-1*t215*t1756-0.5862637881547585D-1*t215
     #*t1759+0.2345055152619034D0*t652*t1763+0.5862637881547585D0
     #*t1358*t1766-0.1172527576309517D0*t111*t1769
      t1836 = t693*t171
      s1 = t1711+t1712-t1713+t1714+t1717-t1718+t1719-t1720
     #+0.1484134046134546D0*t546*t1721
      s2 = s1+0.7420670230672731D-1*t1578*t551+0.7420670230672731D-1
     #*t164*t1726+0.7420670230672731D-1*t550*t1394
     #+0.2473556743557577D-1*t79*(0.2697586091519874D1*
     #(0.3808092365862222D0*t563*t1731-0.1269364121954074D0*t174*t84
     #*t1726+0.2173290372447189D-1*t215*t1737+0.4346580744894379D-1
     #*t577*t1740-0.1086645186223595D-1*t178*t1756
     #-0.1086645186223595D-1*t178*t1759+0.4346580744894379D-1*t577
     #*t1763+0.2173290372447189D0*t1295*t1766-0.4346580744894379D-1
     #*t95*t1769)*t115-0.2697586091519874D1*t613*t470
     #-0.2697586091519874D1*t1517*t220+0.5395172183039748D1*t618*t220
     #*t470-0.2697586091519874D1*t201*t1817)*t225
      t1840 = s2-0.2473556743557577D-1*t224*t1400+0.1D1*t132*t1726
     #*t141-0.1567270379114016D2*t228*t94*t1420-0.522423459704672D1
     #*t232*t234*t1726*t140+0.272926271249799D2*t690*t1836*t1419
      t1842 = t152+t160+t516+t517+t173+rho*t1840+t476+t479-t483+t227
     #+t701+t702+t230-t238+t706+t707
      t1847 = t708-t709-t710-t711+t712+t439+0.5D0*t1589-t713+t431+t435
     #+t714+t715+t716+0.5D0*t1610+t1133+0.5D0*t1376+0.5D0*t1385
      v2rhoab(i) = t1842+t1847
      t1848 = t78*t500
      t1852 = t202*t97
      t1862 = t489*t200
      t1868 = t110*t80
      t1871 = t93*t88
      t1874 = t622*t97
      t1886 = t673*t500
      t1892 = t234*t78*t140
      t1896 = t132*t96*t94
      t1901 = rho*(0.7420670230672731D-1*t1848*t551
     #+0.2473556743557577D-1*t79*(0.2697586091519874D1*(
     #-0.1269364121954074D0*t209-0.2173290372447189D-1*t1852*t187
     #-0.8693161489788758D-1*t105*t193)*t115-0.2697586091519874D1*t613
     #*t497-0.2697586091519874D1*t1862*t220+0.5395172183039748D1*t618
     #*t220*t497-0.2697586091519874D1*t201*(-0.1712109500228824D0
     #*t1868*t205-0.3424219000457648D0*t1871*t175-0.1172527576309517D0
     #*t1874*t187-0.2345055152619034D0*t202*t193))*t225
     #-0.2473556743557577D-1*t224*t1886+0.1D1*t228*t504
     #-0.130605864926168D2*t1248*t1892+0.1364631356248995D2*t1896
     #*t1836*t140)
      s1 = 0.7420670230672731D-1*t1848*t718+0.2473556743557577D-1*t79*
     #(0.2697586091519874D1*(-0.1269364121954074D0*t367
     #-0.148092480894642D0*t370-0.2173290372447189D-1*t1852*t349
     #-0.8693161489788758D-1*t105*t352-0.1014202173808688D0*t105*t357)
     #*t115-0.2697586091519874D1*t1062*t497-0.2697586091519874D1*t1862
     #*t379+0.5395172183039748D1*t618*t379*t497-0.2697586091519874D1
     #*t201*(-0.1712109500228824D0*t1868*t364-0.3424219000457648D0
     #*t1871*t334-0.3994922167200589D0*t492*t339-0.1172527576309517D0
     #*t1874*t349-0.2345055152619034D0*t202*t352-0.273589767805554D0
     #*t202*t357))*t225-0.2473556743557577D-1*t383*t1886+0.1D1*t401
     #*t504-0.261211729852336D1*t400*t79*t509+0.1D1*t404*t504
      t1973 = s1-0.261211729852336D1*t782*t1892-0.2333333333333333D1
     #*t133*t339*t140+0.6094940363221173D1*t507*sigma*t987*t140+0.1D1
     #*t133*t423+0.1D1*t411*t84*(-0.522423459704672D1*t412*t331
     #+0.6965646129395627D1*t418)*t140-0.261211729852336D1*t507*sigma
     #*t1251*t140
      t1974 = rho*t1973
      v2rhoasigmaaa(i) = t1901+t503+t506-t511+t1974
      t1976 = 0.4947113487115154D-1*t502
      t1977 = 0.2D1*t505
      t1978 = 0.522423459704672D1*t510
      t1979 = 2.D0*t1974
      v2rhoasigmaab(i) = 2.D0*t1901+t1976+t1977-t1978+t1979
      v2rhoasigmabb(i) = v2rhoasigmaaa(i)
      t2023 = rho*(0.7420670230672731D-1*t1848*t1394
     #+0.2473556743557577D-1*t79*(0.2697586091519874D1*(
     #-0.1269364121954074D0*t463-0.2173290372447189D-1*t1852*t450
     #-0.8693161489788758D-1*t105*t453)*t115-0.2697586091519874D1
     #*t1517*t497-0.2697586091519874D1*t1862*t470+0.5395172183039748D1
     #*t618*t470*t497-0.2697586091519874D1*t201*(-0.1712109500228824D0
     #*t1868*t460-0.3424219000457648D0*t1871*t440-0.1172527576309517D0
     #*t1874*t450-0.2345055152619034D0*t202*t453))*t225
     #-0.2473556743557577D-1*t474*t1886+0.1D1*t477*t504
     #-0.130605864926168D2*t1423*t1892+0.1364631356248995D2*t1896*t693
     #*t437*t140)
      v2rhobsigmaaa(i) = t2023+t503+t506-t511+t1974
      v2rhobsigmaab(i) = 2.D0*t2023+t1976+t1977-t1978+t1979
      v2rhobsigmabb(i) = v2rhobsigmaaa(i)
      t2031 = t497**2
      t2042 = t500**2
      v2sigmaaa2(i) = rho*(0.2473556743557577D-1*t79*
     #(0.5862637881547585D-1*t93*t97*t100*t115-0.5395172183039748D1
     #*t1862*t497+0.5395172183039748D1*t618*t2031-0.1581497040888031D0
     #*t201*t110*t97*t100)*t225-0.2473556743557577D-1*t79*t2042*t673
     #-0.522423459704672D1*t507*t234*t140+0.6823156781244976D1*t132
     #*t190*sigma*t693*t140)
      v2sigmaaaab(i) = 2.D0*v2sigmaaa2(i)
      v2sigmaaabb(i) = v2sigmaaa2(i)
      v2sigmaab2(i) = 4.D0*v2sigmaaabb(i)
      v2sigmaabbb(i) = v2sigmaaaab(i)
      v2sigmabb2(i) = v2sigmaaabb(i)
      endif ! rhoa,rhob
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      vrhob(i) = 0.0d0
      v2rhoa2(i) = 0.0d0
      v2rhob2(i) = 0.0d0
      v2rhoab(i) = 0.0d0
      vsigmaaa(i) = 0.0d0
      vsigmaab(i) = 0.0d0
      vsigmabb(i) = 0.0d0
      v2rhoasigmaaa(i) = 0.0d0
      v2rhoasigmaab(i) = 0.0d0
      v2rhoasigmabb(i) = 0.0d0
      v2rhobsigmaaa(i) = 0.0d0
      v2rhobsigmaab(i) = 0.0d0
      v2rhobsigmabb(i) = 0.0d0
      v2sigmaaa2(i) = 0.0d0
      v2sigmaab2(i) = 0.0d0
      v2sigmabb2(i) = 0.0d0
      v2sigmaaaab(i) = 0.0d0
      v2sigmaaabb(i) = 0.0d0
      v2sigmaabbb(i) = 0.0d0
      endif ! rho
      enddo
      
      endif ! ideriv
      return
      end
      
      
      subroutine rks_c_pw91
     & (ideriv,npt,rhoa1,sigmaaa1,
     &  zk,vrhoa,vsigmaaa,
     &  v2rhoa2,v2rhoasigmaaa,v2sigmaaa2)
c
c     J.P. Perdew, J.A. Chevary, S.H. Vosko, K.A. Jackson, 
c     M.R. Pederson, D.J. Singh, C. Fiolhais
c     Atoms, molecules, solids and surfaces: 
c     Applications of the generalized gradient approximation 
c     for exchange and correlation
c     Phys. Rev. B 46 (1992) 6671--6687
c
c
c     CITATION:
c
c     Functionals were obtained from the Density Functional Repository 
c     as developed and distributed by the Quantum Chemistry Group, 
c     CCLRC Daresbury Laboratory, Daresbury, Cheshire, WA4 4AD 
c     United Kingdom. Contact Huub van Dam (h.j.j.vandam@dl.ac.uk) or 
c     Paul Sherwood for further information.
c
c     COPYRIGHT:
c
c     Users may incorporate the source code into software packages and
c     redistribute the source code provided the source code is not
c     changed in anyway and is properly cited in any documentation or
c     publication related to its use.
c
c     ACKNOWLEDGEMENT:
c
c     The source code was generated using Maple 8 through a modified
c     version of the dfauto script published in:
c
c        R. Strange, F.R. Manby, P.J. Knowles
c        Automatic code generation in density functional theory
c        Comp. Phys. Comm. 136 (2001) 310-318.
c
      implicit real*8 (a-h,o-z)
      integer ideriv,npt
      real*8 rhoa1(npt)
      real*8 sigmaaa1(npt)
      real*8 zk(npt),vrhoa(npt),vsigmaaa(npt)
      real*8 v2rhoa2(npt),v2rhoasigmaaa(npt),v2sigmaaa2(npt)
      parameter(tol=1.0d-20)
      
      if(ideriv.eq.0) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      sigma = dmax1(0.D0,sigmaaa1(i))
      t2 = 1/rho
      t3 = t2**(1.D0/3.D0)
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t17 = dlog(1.D0+0.160818243221511D2/(0.598255043577108D1*t6
     #+0.2225569421150687D1*t3+0.8004286349993634D0*t9
     #+0.1897004325747559D0*t11))
      t18 = (1.D0+0.1325688999052018D0*t3)*t17
      t20 = rho**2
      t21 = rho**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513869963240348D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigma**2
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t42 = t28**2
      t52 = dlog(1.D0+0.2697586091519874D1*(0.634682060977037D-1*sigma
     #*t23+0.1086645186223595D-1*t29*t30*t35)/(1.D0
     #+0.1712109500228824D0*t29*sigma*t23+0.2931318940773793D-1/t42
     #*t30*t35))
      t70 = dexp(-0.261211729852336D1/t33/t20*sigma)
      zk(i) = rho*(-0.62182D-1*t18+0.2473556743557577D-1*t52+0.1D1*
     #(0.1D-2*(0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2
     #*t11)/(1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2)-0.1853571428571429D-2)*sigma*t23*t70)
      else ! rho
      zk(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.1) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      sigma = dmax1(0.D0,sigmaaa1(i))
      t2 = 1/rho
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1325688999052018D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t3
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.62182D-1*t18
      t20 = rho**2
      t21 = rho**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513869963240348D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigma**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.634682060977037D-1*sigma*t23+0.1086645186223595D-1*t31*t35
      t39 = t29*sigma
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.1712109500228824D0*t39*t23+0.2931318940773793D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.2473556743557577D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigma
      t70 = dexp(-0.261211729852336D1/t33/t20*sigma)
      t71 = t23*t70
      t73 = 0.1D1*t65*t71
      zk(i) = rho*(-t19+t53+t73)
      t76 = 1/t20
      t77 = 1/t11*t76
      t78 = t77*t17
      t80 = t13**2
      t83 = t6**2
      t84 = t83**2
      t94 = 1/t3*t76
      t99 = t5/t80*(-0.99709173929518D0/t84/t6*t76
     #-0.7418564737168958D0*t77-0.4002143174996817D0/t9*t76
     #-0.1264669550498372D0*t94)/t16
      t103 = 1/t21/t20/rho
      t108 = -0.1110869918438343D0*t78-0.4042761511756372D2*t99
      t110 = t35*t108*t27
      t113 = t32*rho
      t115 = 1/t33/t113
      t121 = t47**2
      t123 = t38/t121
      t124 = t43*sigma
      t142 = 1/t51
      t150 = t60**2
      vrhoa(i) = -t19+t53+t73+rho*(0.2747799777968419D-2*t78+0.1D1*t99
     #+0.2473556743557577D-1*(0.2697586091519874D1*(
     #-0.148092480894642D0*sigma*t103-0.1086645186223595D-1*t44*t110
     #-0.5071010869043442D-1*t31*t115)*t48-0.2697586091519874D1*t123*(
     #-0.1712109500228824D0*t124*t23*t108*t27-0.3994922167200589D0*t39
     #*t103-0.5862637881547585D-1/t42/t28*t30*t110-0.136794883902777D0
     #*t44*t115))*t142+0.1D1*(0.1D-2*(-0.4811024840421814D1*t77
     #-0.1895695887660258D-2*t94)*t61-0.1D-2*t56/t150*(
     #-0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76))*sigma*t71-0.2333333333333333D1*t65
     #*t103*t70+0.6965646129395627D1*t64*t30/t32/t20*t70)
      vsigmaaa(i) = 4.D0*rho*(0.2473556743557577D-1*
     #(0.2697586091519874D1*(0.634682060977037D-1*t23
     #+0.2173290372447189D-1*t39*t35)*t48-0.2697586091519874D1*t123*
     #(0.1712109500228824D0*t29*t23+0.5862637881547585D-1*t124*t35))
     #*t142+0.1D1*t64*t23*t70-0.261211729852336D1*t65/t113*t70)
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      vsigmaaa(i) = 0.0d0
      endif ! rho
      enddo
      
      else if(ideriv.eq.2) then
      
      do i=1,npt
      rho = dmax1(0.D0,rhoa1(i))
      if(rho.gt.tol) then
      sigma = dmax1(0.D0,sigmaaa1(i))
      t2 = 1/rho
      t3 = t2**(1.D0/3.D0)
      t5 = 1.D0+0.1325688999052018D0*t3
      t6 = t2**(1.D0/6.D0)
      t9 = dsqrt(t2)
      t11 = t3**2
      t13 = 0.598255043577108D1*t6+0.2225569421150687D1*t3
     #+0.8004286349993634D0*t9+0.1897004325747559D0*t11
      t16 = 1.D0+0.160818243221511D2/t13
      t17 = dlog(t16)
      t18 = t5*t17
      t19 = 0.62182D-1*t18
      t20 = rho**2
      t21 = rho**(1.D0/3.D0)
      t23 = 1/t21/t20
      t27 = dexp(0.2513869963240348D1*t18)
      t28 = t27-1.D0
      t29 = 1/t28
      t30 = sigma**2
      t31 = t29*t30
      t32 = t20**2
      t33 = t21**2
      t35 = 1/t33/t32
      t38 = 0.634682060977037D-1*sigma*t23+0.1086645186223595D-1*t31*t35
      t39 = t29*sigma
      t42 = t28**2
      t43 = 1/t42
      t44 = t43*t30
      t47 = 1.D0+0.1712109500228824D0*t39*t23+0.2931318940773793D-1
     #*t44*t35
      t48 = 1/t47
      t51 = 1.D0+0.2697586091519874D1*t38*t48
      t52 = dlog(t51)
      t53 = 0.2473556743557577D-1*t52
      t56 = 0.2568D1+0.1443307452126544D2*t3+0.2843543831490386D-2*t11
      t60 = 1.D0+0.5411317332115466D1*t3+0.1816419932959077D0*t11
     #+0.1763993811759022D-1*t2
      t61 = 1/t60
      t64 = 0.1D-2*t56*t61-0.1853571428571429D-2
      t65 = t64*sigma
      t70 = dexp(-0.261211729852336D1/t33/t20*sigma)
      t71 = t23*t70
      t73 = 0.1D1*t65*t71
      zk(i) = rho*(-t19+t53+t73)
      t75 = 1/t11
      t76 = 1/t20
      t77 = t75*t76
      t78 = t77*t17
      t80 = t13**2
      t81 = 1/t80
      t82 = t5*t81
      t83 = t6**2
      t84 = t83**2
      t85 = t84*t6
      t86 = 1/t85
      t90 = 1/t9
      t93 = 1/t3
      t94 = t93*t76
      t96 = -0.99709173929518D0*t86*t76-0.7418564737168958D0*t77
     #-0.4002143174996817D0*t90*t76-0.1264669550498372D0*t94
      t97 = 1/t16
      t99 = t82*t96*t97
      t101 = t20*rho
      t103 = 1/t21/t101
      t108 = -0.1110869918438343D0*t78-0.4042761511756372D2*t99
      t110 = t35*t108*t27
      t113 = t32*rho
      t115 = 1/t33/t113
      t118 = -0.148092480894642D0*sigma*t103-0.1086645186223595D-1*t44
     #*t110-0.5071010869043442D-1*t31*t115
      t121 = t47**2
      t122 = 1/t121
      t123 = t38*t122
      t124 = t43*sigma
      t132 = 1/t42/t28
      t133 = t132*t30
      t138 = -0.1712109500228824D0*t124*t23*t108*t27
     #-0.3994922167200589D0*t39*t103-0.5862637881547585D-1*t133*t110
     #-0.136794883902777D0*t44*t115
      t141 = 0.2697586091519874D1*t118*t48-0.2697586091519874D1*t123
     #*t138
      t142 = 1/t51
      t143 = t141*t142
      t147 = -0.4811024840421814D1*t77-0.1895695887660258D-2*t94
      t150 = t60**2
      t151 = 1/t150
      t152 = t56*t151
      t156 = -0.1803772444038489D1*t77-0.1210946621972718D0*t94
     #-0.1763993811759022D-1*t76
      t159 = 0.1D-2*t147*t61-0.1D-2*t152*t156
      t160 = t159*sigma
      t161 = t160*t71
      t163 = t103*t70
      t164 = t65*t163
      t166 = t64*t30
      t167 = t32*t20
      t169 = 1/t167*t70
      t170 = t166*t169
      vrhoa(i) = -t19+t53+t73+rho*(0.2747799777968419D-2*t78+0.1D1*t99
     #+0.2473556743557577D-1*t143+0.1D1*t161-0.2333333333333333D1*t164
     #+0.6965646129395627D1*t170)
      t177 = 0.634682060977037D-1*t23+0.2173290372447189D-1*t39*t35
      t184 = 0.1712109500228824D0*t29*t23+0.5862637881547585D-1*t124*t35
      t187 = 0.2697586091519874D1*t177*t48-0.2697586091519874D1*t123
     #*t184
      t188 = t187*t142
      t191 = t64*t23*t70
      t193 = 1/t113
      t194 = t193*t70
      t195 = t65*t194
      vsigmaaa(i) = 4.D0*rho*(0.2473556743557577D-1*t188+0.1D1*t191
     #-0.261211729852336D1*t195)
      t215 = dlog(1.D0+0.2960857464321668D2/(0.8157414703487641D1*t6
     #+0.2247591863577616D1*t3+0.4300972471276643D0*t9
     #+0.1911512595127338D0*t11))
      t217 = (1.D0+0.6901399211255825D-1*t3)*t215*t76
      t219 = t52*t76
      t222 = 1/t21/t32
      t223 = sigma*t222
      t228 = 0.1365402220407279D1*t217-0.1675913308826898D1*t18*t76
      t230 = t35*t228*t27
      t234 = 1/t33/t167
      t235 = t31*t234
      t244 = t39*t222
      t248 = t44*t234
      t258 = t64*t222*sigma*t70
      t260 = t32*t101
      t263 = t166/t260*t70
      t270 = -t228
      t272 = t35*t270*t27
      t299 = 1/t32
      t302 = 1/t101
      t307 = 1/t11/t2*t299
      t309 = t75*t302
      t319 = 1/t3/t2*t299
      t321 = t93*t302
      t325 = t82*(-0.8309097827459833D0/t85/t2*t299
     #+0.199418347859036D1*t86*t302-0.4945709824779306D0*t307
     #+0.1483712947433792D1*t309-0.2001071587498409D0/t9/t2*t299
     #+0.8004286349993634D0*t90*t302-0.4215565168327908D-1*t319
     #+0.2529339100996745D0*t321)*t97
      t327 = t80**2
      t330 = t96**2
      t331 = t16**2
      t334 = t5/t327*t330/t331
      t336 = t309*t17
      t338 = t307*t17
      t342 = t77*t81*t96*t97
      t348 = t5/t80/t13*t330*t97
      t352 = t32**2
      t374 = t156**2
      t391 = t141**2
      t392 = t51**2
      t393 = 1/t392
      t397 = t115*t108*t27
      t406 = -0.4042761511756372D2*t325-0.6501498040842D3*t334
     #+0.2221739836876686D0*t336-0.740579945625562D-1*t338
     #+0.3572962974617552D1*t342+0.8085523023512745D2*t348
      t408 = t35*t406*t27
      t411 = t108**2
      t412 = t35*t411
      t414 = dexp(0.5027739926480695D1*t18)
      t415 = t412*t414
      t418 = t412*t27
      t426 = t118*t122
      t431 = t38/t121/t47
      t432 = t138**2
      t443 = t132*sigma
      t444 = t23*t411
      t459 = t42**2
      s1 = 0.1D1*t325+0.160818243221511D2*t334-0.5495599555936838D-2
     #*t336+0.1831866518645613D-2*t338-0.8837926660346786D-1*t342
     #-0.2D1*t348+0.4852022599996427D2*t64*t30*sigma/t33/t352/rho*t70
      s2 = s1-0.5804705107829689D2*t263+0.7777777777777778D1*t258
     #+0.1D1*(0.1D-2*(-0.3207349893614542D1*t307+0.9622049680843627D1
     #*t309-0.6318986292200858D-3*t319+0.3791391775320515D-2*t321)*t61
     #-0.2D-2*t147*t151*t156+0.2D-2*t56/t150/t60*t374-0.1D-2*t152*(
     #-0.1202514962692326D1*t307+0.3607544888076978D1*t309
     #-0.4036488739909061D-1*t319+0.2421893243945437D0*t321
     #+0.3527987623518044D-1*t302))*sigma*t71
      t473 = s2-0.4666666666666667D1*t160*t163-0.2473556743557577D-1
     #*t391*t393+0.2473556743557577D-1*(0.2697586091519874D1*
     #(0.1014202173808688D0*t44*t397-0.1086645186223595D-1*t44*t408
     #+0.2173290372447189D-1*t133*t415-0.1086645186223595D-1*t44*t418
     #+0.2873572825791284D0*t235+0.4936416029821399D0*t223)*t48
     #-0.5395172183039748D1*t426*t138+0.5395172183039748D1*t431*t432
     #-0.2697586091519874D1*t123*(-0.1712109500228824D0*t124*t23*t406
     #*t27+0.7989844334401178D0*t124*t103*t108*t27
     #+0.3424219000457648D0*t443*t444*t414-0.1712109500228824D0*t124
     #*t444*t27+0.1331640722400196D1*t244+0.547179535611108D0*t133
     #*t397-0.5862637881547585D-1*t133*t408-0.5862637881547585D-1*t133
     #*t418+0.7751710087824029D0*t248+0.1758791364464276D0/t459*t30
     #*t415))*t142+0.1393129225879125D2*t159*t30*t169
      s1 = 0.2786258451758251D2*t170-0.9333333333333333D1*t164
     #+0.9894226974230308D-1*t143+0.4D1*t161
      s2 = s1+0.1099119911187368D-1*t78+0.4D1*t99
      s3 = s2+rho*(-0.3377399869956914D-1*t217+0.1649037829038385D-1
     #*t219+0.2473556743557577D-1*(0.2697586091519874D1*(
     #-0.2820809159897942D-1*t223-0.1086645186223595D-1*t44*t230
     #-0.9659068321987509D-2*t235)*t48-0.2697586091519874D1*t123*(
     #-0.1712109500228824D0*t124*t23*t228*t27-0.760937555657255D-1
     #*t244-0.5862637881547585D-1*t133*t230-0.2605616836243371D-1*t248
     #))*t142+0.2222222222222222D0*t258-0.1160941021565938D1*t263)
      v2rhoa2(i) = s3+rho*(0.3377399869956914D-1*t217
     #-0.1649037829038385D-1*t219+0.2473556743557577D-1*
     #(0.2697586091519874D1*(0.2820809159897942D-1*t223
     #-0.1086645186223595D-1*t44*t272+0.9659068321987509D-2*t235)*t48
     #-0.2697586091519874D1*t123*(-0.1712109500228824D0*t124*t23*t270
     #*t27+0.760937555657255D-1*t244-0.5862637881547585D-1*t133*t272
     #+0.2605616836243371D-1*t248))*t142-0.2222222222222222D0*t258
     #+0.1160941021565938D1*t263)+2.D0*rho*t473
      t489 = t177*t122
      v2rhoasigmaaa(i) = 0.9894226974230308D-1*t188+0.4D1*t191
     #-0.1044846919409344D2*t195+4.D0*rho*(0.2473556743557577D-1*
     #(0.2697586091519874D1*(-0.148092480894642D0*t103
     #-0.2173290372447189D-1*t124*t110-0.1014202173808688D0*t39*t115)
     #*t48-0.2697586091519874D1*t426*t184-0.2697586091519874D1*t489
     #*t138+0.5395172183039748D1*t431*t138*t184-0.2697586091519874D1
     #*t123*(-0.1712109500228824D0*t43*t23*t108*t27
     #-0.3994922167200589D0*t29*t103-0.1172527576309517D0*t443*t110
     #-0.273589767805554D0*t124*t115))*t142-0.2473556743557577D-1*t141
     #*t393*t187+0.1D1*t159*t23*t70-0.261211729852336D1*t160*t194
     #-0.2333333333333333D1*t64*t103*t70+0.2002623262201243D2*t65*t169
     #-0.181950847499866D2*t166/t33/t352*t70)
      t537 = t184**2
      t546 = t187**2
      v2sigmaaa2(i) = 16.D0*rho*(0.2473556743557577D-1*
     #(0.5862637881547585D-1*t29*t35*t48-0.5395172183039748D1*t489
     #*t184+0.5395172183039748D1*t431*t537-0.1581497040888031D0*t123
     #*t43*t35)*t142-0.2473556743557577D-1*t546*t393
     #-0.522423459704672D1*t64*t193*t70+0.6823156781244976D1*t65/t33
     #/t260*t70)
      else ! rho
      zk(i) = 0.0d0
      vrhoa(i) = 0.0d0
      v2rhoa2(i) = 0.0d0
      vsigmaaa(i) = 0.0d0
      v2rhoasigmaaa(i) = 0.0d0
      v2sigmaaa2(i) = 0.0d0
      endif ! rho
      enddo
      
      endif ! ideriv
      return
      end

c:C_PW91subrend
